<template>
  <div class="pages">
    <div class="columns is-multiline pageBreacks" id="header-line">
      <div class="column">
        <h1 class="title">NovaLink</h1>
        <h2 class="subtitle">{{get(content,'0.COMPANY_NAME','')}}</h2>
      </div>
      <div class="column">
        <div class="tile">
          <ul>
            <li>
              Print Date:
              <b>{{format(new Date(),'yyyy-MM-dd HH:mm')}}</b>
            </li>
            <li>
              Truck:
              <b>{{get(content,'0.TRUCK','')}}</b>
            </li>
            <li>
              Ship date:
              <b>{{get(content,'0.SHIP_DT','')}}</b>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div v-for="(ci, transaction ) in groupBy(content,'TRANSACTION_ID')" :key="transaction">
          <div class="columns">
            <div class="column"></div>
            <div class="column">
              <ul>
                <li>
                  Invoice:
                  <b>{{get(ci,'0.FACTURA','')}}</b>
                </li>
                <li>
                  Transaction:
                  <b>{{get(ci,'0.TRANSACTION_ID','')}}</b>
                </li>
              </ul>
            </div>
          </div>
          <b-table class="is-marginless" :data="ci" :bordered="true" :narrowed="true" :hoverable="true">
            <template slot-scope="props">
              <b-table-column field="TRANSACTION_ID" label="Transaction">{{ props.row.TRANSACTION_ID }}</b-table-column>
              <b-table-column field="PART" label="Part">{{ props.row.PART }}</b-table-column>
              <b-table-column field="QTY1" label="Qty" numeric>{{ props.row.QTY1 }}</b-table-column>
              <b-table-column field="UM_US" label="UM US">{{ props.row.UM_US }}</b-table-column>
              <b-table-column field="DESC_CUMPLE_US" label="Description">{{ props.row.DESC_CUMPLE_US }}</b-table-column>
              <b-table-column field="ORIGIN_MX" label="Origin">{{ props.row.ORIGIN_MX }}</b-table-column>
              <b-table-column label="Comments" width="150">&nbsp;</b-table-column>
            </template>
            <template slot="bottom-left">
              <b>Total checked</b>
              : {{ checkedRows.length }}
            </template>
          </b-table>
        </div>
      </div>
    </div>
    <div class="page-break" v-if="singlePerPage"></div>
  </div>
</template>
<style scoped>
.page-break {
  display: block;
  page-break-before: always;
}
</style>

<script>
import groupBy from 'lodash/groupBy'
import { format } from 'date-fns'
import get from 'lodash/get'

export default {
  data() {
    return {
      checkedRows: [],
    };
  },
  props: ['content', 'singlePerPage'],
  methods: {
    get,
    format,
    groupBy,
  },
  mounted() {
  }
};
</script>