<template>
  <TransactionOrigin @origin-changed="t => transactionOrigin = t" :origin="transactionOrigin">
    <template v-slot:warehouse>
      <InTransactionSelector :transaction="transaction" @change="updateSelectedTransaction">
        <InTransactionCheck
          :partMaster="parts"
          :transactionContent="transactionContent"
          :existingMovementRecords="existingMovementRecords"
          :currentTransaction="transaction"
          :transactionDetails="transactionDetails"
          @cancel-capture="() => transaction = null"
          @change="updateTransactionValue"
          @updated="loadTransactionContent"
        ></InTransactionCheck>
      </InTransactionSelector>
    </template>
    <template v-slot:manual>
      <div class="columns">
        <div class="column">
          <h1 class="text-4xl text-gray-600 pb-4">Ingresar a el inventario</h1>
          <hr />
          <div class="columns">
            <div class="column is-half-desktop is-one-third-tablet">
              <form action="#/" @submit.prevent="mathOrAdd" class="form">
                <div class="border-b-2 border-gray-800 p-2">
                  <p class="text-xl pb-4 font-semibold">Informacion del movimiento</p>
                  <b-field label="Tipo de movimiento  ">
                    <b-select v-model="movementType" placeholder="Selecciona un tipo de movimiento">
                      <option
                        v-for="option in movementOptions"
                        :value="option.type"
                        :key="option.type"
                      >{{ option.name }}</option>
                    </b-select>
                  </b-field>
                  <b-field
                    label="Comentario"
                    message="Ingresa la razon por la que se esta haciendo una captura de inventario manual"
                  >
                    <b-input v-model="reason" placeholder="Material de proveedor mexicano"></b-input>
                  </b-field>
                </div>
                <div class="p-2">
                  <p class="text-xl pb-4 font-semibold">Numeros de parte</p>
                  <b-field label="Part number">
                    <b-autocomplete
                      v-model="inPart"
                      :data="filteredInDataArray"
                      placeholder="Part number"
                      :keep-first="true"
                      field="part"
                      @select="option => selected = option"
                    >
                      <template slot="empty">No results found</template>
                    </b-autocomplete>
                  </b-field>
                  <b-field label="Description" expanded v-if="!!selected">
                    <b-input expanded disabled v-model="selected.description"></b-input>
                  </b-field>
                  <b-field label="Quantity">
                    <b-input v-model="addQty" @keyup.native.enter="mathOrAdd"></b-input>
                  </b-field>
                  <b-field
                    label="Location"
                    :message="'Ej: Rack 1, Stand B, Floor 2, becomes \'1B2\''"
                  >
                    <b-input
                      v-model="addLocation"
                      placeholder="Ej: 1B2"
                      list="locations"
                      @keyup.native.enter="mathOrAdd"
                    ></b-input>
                  </b-field>
                    <datalist id=locations>
                      <option>SCRAP</option>
                      <option>PRODUCTION</option>
                      <option>HOLD</option>
                    </datalist>
                  <b-field label="Current inventory">
                    <b-input
                      disabled
                      placeholder="Ej: 1B2"
                      :value="get(selected,'total_inventory',0)"
                    ></b-input>
                  </b-field>
                  <b-field>
                    <b-button @click="mathOrAdd">Agregar</b-button>
                  </b-field>
                </div>
              </form>
            </div>
            <div class="column">
              <b-table :data="inTransactions" :narrowed="true" :loading="commitingTransaction">
                <template slot="empty">
                  <section class="section">
                    <div class="content text-gray-700 text-2xl has-text-centered">
                      <p>Actualmente no hay nada para agregar al inventario</p>
                      <p>
                        Llena los campos de arriba y presiona
                        <b>ENTER</b> para crear la lista de intentario que podras ingresar
                      </p>
                    </div>
                  </section>
                </template>
                <template slot-scope="props">
                  <b-table-column field="part" label="Part">{{ props.row.part }}</b-table-column>
                  <b-table-column field="in" label="Quantity">{{ props.row.in }}</b-table-column>
                  <b-table-column field="location" label="Location">{{ props.row.location }}</b-table-column>
                  <b-table-column label="Actions">
                    <!-- <button class="button is-small is-light" @click.prevent="onEdit(props.row)">
                          <b-icon icon="edit" size="is-small"></b-icon>
                    </button>-->
                    <button
                      class="button is-small is-danger"
                      @click.prevent="deleteRowFromInInventoryTable(props)"
                    >delete</button>
                  </b-table-column>
                </template>
              </b-table>
              <b-field>
                <p class="control">
                  <button
                    class="button is-primary"
                    :disabled="commitingTransaction || inTransactions.length == 0"
                    @click="commitTransactionsToDatabase('inTransactions')"
                  >Save</button>
                </p>
              </b-field>
            </div>
          </div>
        </div>
      </div>
    </template>
  </TransactionOrigin>
</template>
<script>
import { get, set } from 'lodash';
import { addBits } from '@/libs/addBits'
import axios from 'axios'
import InTransactionSelector from './InTransactionSelector.vue'
import InTransactionCheck from './InTransactionCheck.vue'
import TransactionOrigin from './TransactionOrigin.vue'

export default {
  name:'AddInventory',
  components: {
    InTransactionSelector,
    InTransactionCheck,
    TransactionOrigin,
  },
  data() {
    return {
      inPart: '',
      selected: null,
      reason: '',
      addQty: 0,
      addLocation: '',
      inTransactions: [],
      commitingTransaction: false,
      transaction: null,
      transactionOrigin: '',
      transactionContent: [],
      transactionDetails: [],
      existingMovementRecords: [],
      movementType: '',
      movementOptions: [
        { type: 'MANUAL_IN', name: 'Entrada manual' },
        { type: 'MOVE', name: 'Cambio de locacion' },
        { type: 'PRODUCTION_RETURN', name: 'Returno de produccion' },
        { type: 'INVENTORY_ADJUSTMENT', name: 'Ajuste de inventario' },
        { type: 'MOVEMENT_ADJUSTMENT', name: 'Ajuste por error de captura' },
      ],
    }
  },
  props: {
    parts: {
      type: Array,
      default: () => ([])
    }
  },
  methods: {
    get,
    saveMaterialProgress() {

    },
    commitMaterialInventory() {

    },
    updateTransactionValue({ target, prop, value }) {
      let index = this.transactionContent.findIndex(d => d.ID === target)
      let t = `${index}.${prop}`
      let u = `${index}.ms_check.QTY_CHECK`
      set(this.transactionContent, u, true)
      set(this.transactionContent, t, value)
    },
    updateSelectedTransaction(t) {
      this.transaction = t.id
      this.transactionDetails = t
      this.loadTransactionContent(t.id)
    },
    loadTransactionContent() {
      let tr = this.transaction
      this.transactionContent = []
      this.existingMovementRecords = []
      axios.get('/api/almacen/get_material_transaction_contents', {
        params: {
          transaction: tr
        }
      }).then(d => {
        this.transactionContent = d.data
      })
      axios.get('api/almacen/get_transaction_contents_by_transaction', {
        params: {
          transaction: tr
        }
      }).then(d => {
        this.existingMovementRecords = d.data.map(d => d.movements).flat()
      })
    },
    commitTransactionsToDatabase(typeOfTransaction) {
      this.commitingTransaction = true;
      return axios
        .post('api/inventory/record_inventory_change', {
          parts: this[typeOfTransaction],
          transaction: {
            company_id: this.company_id,
            movement_type: this.movementType,
            reason: this.reason,
          }
        })
        .then(() => {
          this[typeOfTransaction] = [];
          this.$emit('transaction-commited')
          this.$emit('change-transaction-content', this.inTransactions);
        })
        .finally(() => {
          this.commitingTransaction = false;
        });
    },
    deleteRowFromInInventoryTable(payload) {
      this.inTransactions.splice(payload.index, 1);
      this.$emit('change-transaction-content', this.inTransactions);
    },
    addToInInventoryTransaction() {
      if (this.addLocation.length == 0) {
        return this.$buefy.toast.open({
          message: 'Location cannot be empty',
          type: 'is-danger'
        })
      }
      this.inTransactions.unshift({
        part: this.selected.part,
        in: this.addQty,
        location: this.addLocation.toUpperCase()
      });
      this.$emit('change-transaction-content', this.inTransactions);
    },
    mathOrAdd() {
      if (/(\+|-|\*|\/)/.test(this.addQty)) {
        this.addQty = addBits(this.addQty);
      } else {
        this.addToInInventoryTransaction();
      }
    },
  },
  watch: {},
  computed: {
    company_id() {
      return this.$store.state.user.user.company_id
    },
    filteredInDataArray() {
      return this.parts.filter(option => {
        return (
          option.part
            .toString()
            .toLowerCase()
            .indexOf(this.inPart.toLowerCase()) >= 0
        );
      });
    },
  }
}
</script>