<template>
  <div>
    <div class="flex mb-2">
      <button class="button mr-2" @click="$emit('cancel-capture')">
        Regresar
      </button>
      <h1 class="text-2xl font-bold">
        <span class="font-light">Transaccion</span>
        {{ currentTransaction }}
      </h1>
    </div>
    <!-- <h2 class="text-xl font-bold">
          <span class="font-light">Cliente</span>
    </h2>-->
    <div class="w-1/2">
      <b-field>
        <b-input
          ref="searchField"
          v-model="partSearch"
          icon="magnify"
          type="search"
          placeholder="Busqueda..."
        ></b-input>
      </b-field>
    </div>
    <b-table :data="parts" :paginated="false" :per-page="10" :striped="true">
      <template slot-scope="props">
        <b-table-column field="ms_check.QTY_CHECK" label="Importar">
          <input
            type="checkbox"
            name="import"
            :disabled="
              existingMovementRecords.findIndex(findSameID(props.row.ID)) > -1
            "
            :checked="props.row.ms_check.QTY_CHECK"
            @change="
              $emit('change', {
                target: props.row.ID,
                prop: 'ms_check.QTY_CHECK',
                value: $event.target.checked,
              })
            "
          />
        </b-table-column>
        <b-table-column field="PART" label="Parte" sortable>
          <span :class="{ 'font-bold': props.row.ms_check.QTY_CHECK == 1 }">
            <abbr
              v-if="!partNames.includes(props.row.PART)"
              title="Parte no encontrada"
            >
              <Icon name="ban" class="h-5 w-5 text-red-500 inline-block" />
            </abbr>
            {{ props.row.PART }}
          </span>
        </b-table-column>
        <b-table-column
          field="detail.DESCRIPTION"
          label="Descripción"
          :visible="showDescription"
          :narrowed="true"
          sortable
          >{{ props.row.detail.DESCRIPTION }}</b-table-column
        >
        <b-table-column sortable field="QTY1" label="Declarado" numeric>
          {{ props.row.QTY1 }}
          <span class="text-gray-600 text-sm">{{
            props.row.detail.UM_US
          }}</span>
        </b-table-column>
        <b-table-column sortable field="ms_check.QTY" label="Recibido">
          <div class="field has-addons">
            <p class="control is-expanded">
              <input
                class="input border-2"
                :class="{
                  'border-gray-100': props.row.ms_check.QTY_CHECK == 1,
                }"
                type="text"
                :readonly="
                  existingMovementRecords.findIndex(findSameID(props.row.ID)) >
                  -1
                "
                @input="
                  $emit('change', {
                    target: props.row.ID,
                    prop: 'ms_check.QTY',
                    value: parseFloat($event.target.value),
                  })
                "
                :value="props.row.ms_check.QTY"
              />
            </p>
            <!-- <p class="control">
                  <a href="#/" @click.prevent="" class="button">check</a>
            </p>-->
            <p class="control">
              <a class="button is-static">{{ props.row.detail.UM_US }}</a>
            </p>
          </div>
        </b-table-column>
        <b-table-column sortable field="ms_check.LOCATION" label="Locación">
          <input
            class="input border-2"
            :class="{'border-gray-100':props.row.ms_check.QTY_CHECK == 1}"
            type="text"
            :readonly="existingMovementRecords.findIndex(findSameID(props.row.ID)) > -1"
            @input="$emit('change',{target:props.row.ID, prop:'ms_check.LOCATION', value:$event.target.value.toUpperCase()})"
            :value="props.row.ms_check.LOCATION"
          />

        </b-table-column>
        <b-table-column sortable field="QTY1" label="Discrepancia" numeric>
          {{ props.row.QTY1 - props.row.ms_check.QTY }}
          <span class="text-gray-600 text-sm">{{
            props.row.detail.UM_US
          }}</span>
        </b-table-column>
        <!-- <b-table-column
              sortable
              field="received_by"
              label="Recibido por"
        >{{props.row.ms_check.USER}}</b-table-column>-->
      </template>
    </b-table>
    <div class="buttons">
      <button class="button" @click="saveMaterialProgress">
        Guardar progreso
      </button>
      <button class="button is-primary" @click="commitMaterialInventory">
        Importar
      </button>
      <button class="button" @click="$emit('cancel-capture')">Regresar</button>
      <button class="button" @click="askCloseTransaction">
        Close transaction
      </button>
      <label class="checkbox">
        <input type="checkbox" name="member" v-model="showDescription" />
        Mostrar descripcion
      </label>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import Icon from '@/components/Icon.vue'

export default {
  components: {
    Icon,
  },
  data() {
    return {
      transactions: [],
      partSearch: '',
      showDescription: false,
    }
  },
  computed: {
    partNames() {
      return this.partMaster.map(d => d.part)
    },
    parts() {
      let searching = this.partSearch.toLowerCase()
      if (!this.transactionContent) return []
      return this.transactionContent
        .filter(e => searching == '' ? true : ('' + e.PART).toLowerCase().includes(searching))
    },
    company_id() {
      return this.$store.state.user.user.company_id
    },
    canBeClosed() {
      return this.transactionContent
        .filter(d => this.existingMovementRecords.findIndex(this.findSameID(d.ID)) === -1).length === 0
    },
  },
  props: {
    currentTransaction: {
      type: Number,
      default: null,
    },
    transactionContent: {
      type: Array,
      default: () => [],
    },
    existingMovementRecords: {
      type: Array,
      default: () => [],
    },
    partMaster: {
      type: Array,
      default: () => []
    },
    fault: () => []
  },
  methods: {
    saveMaterialProgress() {
      let parts = this.transactionContent.map(d => ({
        id: d.ms_check.QTY_CHECK_ID,
        qty: d.ms_check.QTY,
        check: d.ms_check.QTY_CHECK ? 1 : 0,
        location: d.ms_check.LOCATION,
      }))

      axios.post('api/almacen/saveMaterialChanges', {
        parts,
      }).then(() => {
        this.$buefy.toast.open({
          message: `Transaccion ${this.currentTransaction} guardada correctamente`,
          type: 'is-success'
        })
      }).catch(() => {
      })

      this.$emit('updated')
    },
    commitMaterialInventory() {

      let transaction = {
        company_id: this.company_id,
        transaction_id: this.currentTransaction,
        reason: '',
        movement_type: 'IN',
      }

      let inventory = this.transactionContent
        .filter(d => this.hasQtyCheck(d))
        .filter(d => this.existingMovementRecords.findIndex(this.findSameID(d.ID)) === -1)

      let parts = this.transactionContent.map(d => ({
        id: d.ms_check.QTY_CHECK_ID,
        qty: d.ms_check.QTY,
        check: d.ms_check.QTY_CHECK ? 1 : 0,
        location: d.ms_check.LOCATION,
      }))

      axios.post('api/almacen/saveMaterialChanges', {
        parts,
      }).then(() => {
        this.$buefy.toast.open({
          message: `Transaccion ${this.currentTransaction} guardada correctamente`,
          type: 'is-success'
        })
      }).catch(() => {
        // console.log(err)
        this.$buefy.toast.open({
          message: 'An error ocurred',
          type: 'is-danger'
        })
      })
      let partList = inventory.map(d => {
        return {
          part: d.PART,
          in: d.ms_check.QTY,
          location: d.ms_check.LOCATION,
          qty_id: d.ID,
        }
      })
      axios.post('api/inventory/record_inventory_change', {
        parts: partList,
        transaction,
      })
      this.$emit('updated')
    },
    askCloseTransaction() {
      this.$buefy.dialog.confirm({
        title: 'Deleting account',
        message: 'Are you sure you want to <b>Close</b> this transaction?, doing so will remove this transaction from the list and no further movements will be made to this transaction',
        confirmText: 'Close transaction',
        type: 'is-danger',
        hasIcon: false,
        onConfirm: () => this.closeTransaction()
      })
    },
    closeTransaction() {
      axios.post('api/almacen/closeTransaction', { transaction: this.currentTransaction })
      this.$emit('updated')
    },
    hasQtyCheck(d) {
      return d.ms_check.QTY_CHECK
    },
    findSameID: current => search => {
      return current == search.qty_id
    },
    saveMaterialChanges() {
      this.$emit('transaction-accepted')
    },
  },
  mounted() {

  },
}
</script>