<template>
  <div>
    <template v-if="!transaction">
      <div class="bg-white shadow overflow-hidden sm:rounded-md">
        <b-table :data="transactions">
          <template slot-scope="props">
            <b-table-column field="id" label="ID" numeric>{{props.row.id}}</b-table-column>
            <b-table-column field="truck" label="Camion">{{props.row.truck}}</b-table-column>
            <b-table-column field="factura" label="Factura">{{props.row.factura}}</b-table-column>
            <b-table-column field="pedimento" label="Pedimento">{{props.row.pedimento}}</b-table-column>
            <b-table-column field="in_transit_at" label="Fecha de reciba">{{props.row.in_transit_at}}</b-table-column>
            <b-table-column label="Acciones">
              <button class="inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:text-gray-800 active:bg-gray-50 transition duration-150 ease-in-out" @click="()=>selectTransaction(props.row)">Seleccionar</button>
            </b-table-column>
          </template>
        </b-table>
      </div>
    </template>

    <slot v-else />
  </div>
</template>
<script>
import axios from 'axios'

export default {
  data() {
    return {
      transactions: [],
      errorMessage: '',
      state: 'waiting',
    }
  },
  computed: {
    company_id() {
      return this.$store.state.user.user.company_id
    },
  },
  props: {
    transaction: {},
  },
  methods: {
    selectTransaction(tr) {
      this.$emit('change', tr)
    },
    loadTransactions() {
      this.state = 'loading'
            // This will give the transactions currently on the list only
      // but, we should account for those transactions that have already been 
      // imported, so we have to read the list of transactions imported to
      // make them unavailable to selected
      axios.get('api/inventory/open_material_transactions', {
        params: {
          company_id: this.company_id
        }
      }).then(d => {
        this.state = 'resolved'
        console.log(d)
        this.transactions = d.data.map(h => {
          return {
            id: h.id,
            company_name: h.company_name,
            company_id: h.company_id,
            truck: h.truck,
            factura: h.factura,
            pedimento: h.pedimento,
            in_transit_at: h.intransit_at,
            received_at: h.received_at,
            received_by: h.received_by,
          }
        })
      }).catch( d => {
        this.state = 'error'
        console.log(d.response)
        this.errorMessage = d.data.message

      })
    }
  },
  mounted() {
    console.log(this.$props)
    this.loadTransactions()
  }
}
</script>