<template>
  <div v-if="origin===''">
    <div>
      {{origin}}
      Selecciona el tipo de transaccion que vas a realizar:
      <li class="list-none">
        <ul>
          <button
            @click="$emit('origin-changed','warehouse')"
            class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5"
          >
            Transaccion de la bodega de
            <span class="font-semibold ml-1">Brownsville</span>
          </button>
        </ul>
        <ul>
          <button
            @click="$emit('origin-changed','manual')"
            class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5"
          >
            Utilizando una
            <span class="font-semibold mx-1">lista</span> de numeros de parte
          </button>
        </ul>
      </li>
    </div>
  </div>
  <div v-else-if="origin==='warehouse'">
    <div class="py-8">
      <button
        @click="$emit('origin-changed','')"
        class="inline-flex justify-center rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5"
      >Cambiar tipo de transaccion</button>
    </div>
    <slot name="warehouse"></slot>
  </div>
  <div v-else-if="origin==='manual'">
    <div class="py-8">
      <button
        @click="$emit('origin-changed','')"
        class="inline-flex justify-center rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5"
      >Cambiar tipo de transaccion</button>
    </div>
    <slot name="manual"></slot>
  </div>
</template>
<script>
export default {
  name: 'TransactionOrigin',
  props: {
    origin: {
      type: String,
      default: '', // warehouse/manual
    }
  }
}
</script>