<template>
  <div class="md:mt-0 md:col-span-2">
    <form action="#" method="POST" @submit.prevent="emitValues">
      <div class="bg-gray-50">
        <div class="px-2 py-2">
          <div class="grid grid-cols-10 gap-2">
            <div
              v-for="(el, i) in filters"
              :key="i"
              class="col-span-10 sm:col-span-5 lg:col-span-2"
            >
              <label
                :for="`id-${i}-${el.field}`"
                style="margin-bottom: .75rem;"
                class="block text-sm font-medium leading-5 text-gray-700"
              >
                <span v-if="el.required" class="text-red-500 font-bold">*</span>
                {{el.label}}
              </label>

              <input
                v-if="el.type ==='text'"
                :id="`id-${i}-${el.field}`"
                @keyup.esc="values = {...values, [el.field]:''}"
                @change="values = {...values, [el.field]:$event.target.value}"
                :value="values[el.field]"
                class="appearance-none bg-white p-1 text-base block w-full border border-gray-300 rounded-sm shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
              />

              <select
                v-else-if="el.type ==='dropdown'"
                :required="el.required"
                :id="`id-${i}-${el.field}`"
                :value="values[el.field]"
                @change="values = {...values, [el.field]:$event.target.value}"
                class="mt-1 block form-select w-full p-1 border border-gray-300 bg-white rounded-sm shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
              >
                <option value="*" v-if="$store.getters['user/userBelongsToGroup']('pix.admin')">*</option>
                <template v-if="el.attrs.values">
                  <option
                    v-for="(e,j) in el.attrs.values"
                    :key="'st' + j "
                    :value="(typeof e === 'string') ? e : e[el.attrs.value]"
                  >{{(typeof e === 'string') ? e : e[el.attrs.label]}}</option>
                </template>
              </select>

              <div v-else-if="el.type ==='value-help'" class="mt-1 relative rounded-sm shadow-sm">
                <ValueHelpOverlay
                  v-if="!!valueHelperConfig && valueHelperConfig.field === el.field"
                  :name="`id-${i}-${el.field}`"
                  :config="valueHelperConfig.object"
                  @close="valueHelperConfig=null"
                ></ValueHelpOverlay>
                <input
                  :id="`id-${i}-${el.field}`"
                  @keyup.192.prevent="showValueHelper($event, el)"
                  @change="values = {...values, [el.field]:$event.target.value}"
                  class="appearance-none bg-white p-1 text-base block w-full border border-gray-300 rounded-sm shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                />
                <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                  <Icon name="hashtag" class="h-5 w-5 text-gray-500" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="py-2 bg-gray-50 text-right px-2 flex flex-row justify-between space-x-2 content-start"
      >
        <div
          class="flex-grow focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
        ></div>
        <button class="py-1 px-2 bg-blue-600 text-white font-bold">Search</button>
      </div>
    </form>
  </div>
</template>
<script>
import { get } from 'lodash'
import Icon from '@/components/Icon.vue'
import ValueHelpOverlay from '@/components/DataFilters/ValueHelpOverlay.vue'

const exists = (v) => typeof v !== 'undefined' && v !== null

export default {
  name: 'DataFilters',
  data() {
    return {
      values: {},
      valueHelperConfig: null,
      xfilters: [],
    }
  },
  components: {
    Icon,
    ValueHelpOverlay,
  },
  props: {
    filters: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    get,
    showValueHelper(_, payload) {
      console.log(_)
      this.valueHelperConfig = payload
    },
    logKeys(event) {
      console.log(event)
    },
    emitValues() {
      this.$router.push({
        query: this.values
      })
      this.$emit('change', this.values)
    }
  },
  created() {
    this.xfilters = this.filters.map(el => {
      if (el.type === 'dropdown') {
        if (exists(el.attrs.source)) {
          el.attrs.values = get(this.$store.state, el.attrs.source, [])
        }
      }
      return el
    })
    this.filters.forEach(field => {
      if (field.type === 'dropdown') {
        let autoselect = get(field, 'attrs.autoselect', null)
        if (autoselect) {
          this.values = { ...this.values, [field.field]: field.attrs.autoselect }
        }
      }
    });

    this.filters.forEach(field => {
      if (this.$route.query.hasOwnProperty(field.field)) {
        let value = this.$route.query[field.field]
        this.values = { ...this.values, [field.field]: value }
      }
    })
  },
}
</script>