<template>
  <div
    class="fixed bottom-0 inset-x-0 px-4 pb-4 sm:inset-0 sm:flex sm:items-center sm:justify-center"
  >
    <!--
    Background overlay, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
    -->
    <div class="fixed inset-0 transition-opacity">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>

    <!--
    Modal panel, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      To: "opacity-100 translate-y-0 sm:scale-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100 translate-y-0 sm:scale-100"
      To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    -->
    <transition
      enter-class="transform ease-out duration-300 transition"
      enter-start-class="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      enter-end-class="opacity-100 translate-y-0 sm:scale-100"
      leave-class="transition ease-in duration-200"
      leave-start-class="opacity-100 translate-y-0 sm:scale-100"
      leave-end-class="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    >
      <div
        class="bg-white overflow-hidden shadow-xl transform transition-all w-full md:w-4/6"
        role="dialog"
        aria-modal="true"
        aria-labelledby="modal-headline"
      >
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <h2 class="font-bold text-xl bg-gray-100 py-1 pl-2 mb-1 text-center">{{config.label}}</h2>

          <!-- Este me esta causando problemas -->
          <DataFilters :filters="config.filters" @change="log"></DataFilters>

          <Pagination :data="master" :pageSize="10" #default="props">
            <Table :data="props.data" :columns="config.columns" />
          </Pagination>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
            <button
              type="button"
              class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-red-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red transition ease-in-out duration-150 sm:text-sm sm:leading-5"
            >Deactivate</button>
          </span>
          <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
            <button
              type="button"
              @click="$emit('close')"
              class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5"
            >Cancel</button>
          </span>
        </div>
      </div>
    </transition>
  </div>
</template>
<script>
import { get } from 'lodash'
import Table from '@/components/Table/Table.vue'
import Pagination from '@/components/Pagination/Pagination.vue'
import DataFilters from '@/components/DataFilters/DataFilters.vue'

export default {
  name: 'ValueHelpOverlay',
  components: {
    Table,
    Pagination,
    DataFilters,
  },
  props: { config: { type: Object, default: ()=>({}) } },
  computed: {
    master() {
      return get(this.$store.state, this.config.store, [])
    },
  },
  methods: {
    log(e) {
      console.log(e)
    }
  }
}
</script>