<template>
<div class="bg-white">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
      <div>
        <h2 class="text-3xl leading-9 font-extrabold text-gray-900 sm:text-4xl sm:leading-10">
          Used by the world's most average companies
        </h2>
        <p class="mt-3 max-w-3xl text-lg leading-7 text-gray-500">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas tempus tellus etiam sed. Quam a scelerisque amet ullamcorper eu enim et fermentum, augue.
        </p>
        <div class="mt-8 sm:flex">
          <div class="rounded-md shadow">
            <a href="#" class="flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
              Create Account
            </a>
          </div>
          <div class="mt-3 sm:mt-0 sm:ml-3">
            <a href="#" class="flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:text-indigo-600 hover:bg-indigo-50 focus:outline-none focus:shadow-outline focus:border-indigo-300 transition duration-150 ease-in-out">
              Contact Us
            </a>
          </div>
        </div>
      </div>
      <div class="mt-8 grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-0 lg:grid-cols-2">
        <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
          <!-- <img class="max-h-12" src="https://tailwindui.com/img/logos/v1/transistor-logo.svg" alt="Workcation"> -->
          <Icon name="plus" class="h-12 w-12 text-gray-400" />
        </div>
        <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
          <img class="max-h-12" src="https://tailwindui.com/img/logos/v1/mirage-logo.svg" alt="Mirage">
        </div>
        <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
          <img class="max-h-12" src="https://tailwindui.com/img/logos/v1/tuple-logo.svg" alt="Tuple">
        </div>
        <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
          <img class="max-h-12" src="https://tailwindui.com/img/logos/v1/laravel-logo.svg" alt="Laravel">
        </div>
        <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
          <img class="max-h-12" src="https://tailwindui.com/img/logos/v1/statickit-logo.svg" alt="StaticKit">
        </div>
        <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
          <img class="max-h-12" src="https://tailwindui.com/img/logos/v1/statamic-logo.svg" alt="Statamic">
        </div>
      </div>
    </div>
  </div>
</div>

</template>

<script>
import Icon from '@/components/Icon'
export default {
    components:{
        Icon,
    }
}
</script>