<template>
  <div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
    <div class="space-y-4 py-2 sm:px-4 lg:px-0 lg:col-span-12">
      <Actions :options="options" @refresh="refresh"/>
      <section aria-labelledby="current_inventory">
        <div
          class="bg-white pt-4 space-y-4 shadow sm:rounded-md sm:overflow-hidden"
        >
          <div class="px-4 sm:px-6 flex justify-between items-center">
            <h2
              id="current_inventory"
              class="text-lg leading-6 font-medium text-gray-900"
            >
              Current inventory
            </h2>
            <div class="max-w-xs w-full">
              <label for="search" class="sr-only">Search</label>
              <div class="relative">
                <div
                  class="pointer-events-none absolute inset-y-0 left-0 pl-3 flex items-center"
                >
                  <Icon
                    name="search"
                    class="flex-shrink-0 h-5 w-5 text-gray-400"
                  />
                </div>
                <input
                  v-model="search"
                  type="search"
                  class="block w-full bg-white border border-gray-300 rounded-md py-2 pl-10 pr-3 text-sm leading-5 placeholder-gray-500 focus:outline-none focus:text-gray-900 focus:placeholder-gray-400 focus:border-blue-300 focus:shadow-outline-blue sm:text-sm transition duration-150 ease-in-out"
                  placeholder="Search"
                />
              </div>
            </div>
          </div>
          <Table :fields="tableFields" :data="inventory">
            <template #actions="{ part }">
              <a
                :href="`#/${$store.state.user.selectedCompany}/part_movements/${part.part}`"
                class="flex text-blue-600 hover:text-blue-900"
              >
                <Icon name="clipboard-list" class="h-5 w-5 mr-1" />
                Movements</a
              >
            </template>
          </Table>
        </div>
      </section>
    </div>
  </div>
</template>
<script>
import Actions from './CurrentInventory/Actions.vue'
import Table from '@/components/Table2/Table.vue'
import Icon from '@/components/Icon.vue'



export default {
  components: {
    Actions,
    Icon,
    Table,
  },
  data() {
    return {
      search: '',
      options: [{ title: 'Add' }],
      tableFields: [
        { label: 'Part', field: 'part', key: true },
        { label: 'Quantity', field: 'total_inventory' },
        { label: 'Unit', field: 'unit_of_measure_us' },
        { label: 'Description', field: 'description' },
        { screenReader: 'View movements', slot: 'actions' },
      ]
    }
  },
  computed: {
    inventory() {
      return this.$store.state.inventory.current
    }
  },
  methods: {
      refresh(){
          this.$store.dispatch('inventory/getInventory', this.$store.state.user.selectedCompany)
      }
  },
  mounted() {
    this.$store.dispatch('inventory/getInitialInventory', this.$store.state.user.selectedCompany)
  },
}
</script>