<template>
  <div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
    <SideOptions></SideOptions>

    <div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-9">
      <!-- Payment details -->
      <section aria-labelledby="payment_details_heading">
        <form action="#" method="POST">
          <div class="shadow sm:rounded-md sm:overflow-hidden">
            <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
              <div>
                <h2
                  id="payment_details_heading"
                  class="text-lg leading-6 font-medium text-gray-900"
                >
                  Payment details
                </h2>
                <p class="mt-1 text-sm leading-5 text-gray-500">
                  Update your billing information. Please note that updating
                  your location could affect your tax rates.
                </p>
              </div>

              <div class="grid grid-cols-4 gap-6">
                <div class="col-span-4 sm:col-span-2">
                  <label
                    for="first_name"
                    class="block text-sm font-medium leading-5 text-gray-700"
                    >First name</label
                  >
                  <input
                    id="first_name"
                    class="form-input mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                  />
                </div>

                <div class="col-span-4 sm:col-span-2">
                  <label
                    for="last_name"
                    class="block text-sm font-medium leading-5 text-gray-700"
                    >Last name</label
                  >
                  <input
                    id="last_name"
                    class="form-input mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                  />
                </div>

                <div class="col-span-4 sm:col-span-2">
                  <label
                    for="email_address"
                    class="block text-sm font-medium leading-5 text-gray-700"
                    >Email address</label
                  >
                  <input
                    id="email_address"
                    class="form-input mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                  />
                </div>

                <div class="col-span-4 sm:col-span-1">
                  <label
                    for="expiration_date"
                    class="block text-sm font-medium leading-5 text-gray-700"
                    >Expration date</label
                  >
                  <input
                    id="expiration_date"
                    class="form-input mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                    placeholder="MM / YY"
                  />
                </div>

                <div class="col-span-4 sm:col-span-1">
                  <label
                    for="security_code"
                    class="flex items-center space-x-1 text-sm font-medium leading-5 text-gray-700"
                  >
                    <span>Security code</span>
                    <!-- Heroicon name: question-mark-circle -->
                    <svg
                      class="flex-shrink-0 h-5 w-5 text-gray-300"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </label>
                  <input
                    id="security_code"
                    class="form-input mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                  />
                </div>

                <div class="col-span-4 sm:col-span-2">
                  <label
                    for="country"
                    class="block text-sm font-medium leading-5 text-gray-700"
                    >Country / Region</label
                  >
                  <select
                    id="country"
                    class="form-select mt-1 block w-full bg-white border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                  >
                    <option>United States</option>
                    <option>Canada</option>
                    <option>Mexico</option>
                  </select>
                </div>

                <div class="col-span-4 sm:col-span-2">
                  <label
                    for="postal_code"
                    class="block text-sm font-medium leading-5 text-gray-700"
                    >ZIP / Postal</label
                  >
                  <input
                    id="postal_code"
                    class="form-input mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                  />
                </div>
              </div>
            </div>
            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
              <span class="inline-flex rounded-md shadow-sm">
                <button
                  type="submit"
                  class="bg-gray-800 border border-transparent rounded-md py-2 px-4 inline-flex justify-center text-sm leading-5 font-medium text-white hover:bg-gray-700 focus:outline-none focus:border-gray-900 focus:shadow-outline-gray active:bg-gray-900 transition duration-150 ease-in-out"
                >
                  Save
                </button>
              </span>
            </div>
          </div>
        </form>
      </section>

      <!-- Plan -->
      <section aria-labelledby="plan_heading">
        <form action="#" method="POST">
          <div class="shadow sm:rounded-md sm:overflow-hidden">
            <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
              <div>
                <h2
                  id="plan_heading"
                  class="text-lg leading-6 font-medium text-gray-900"
                >
                  Plan
                </h2>
              </div>

              <fieldset>
                <legend class="sr-only">Pricing plans</legend>
                <ul class="relative bg-white rounded-md -space-y-px">
                  <li>
                    <!-- On: "bg-orange-50 border-orange-200 z-10", Off: "border-gray-200" -->
                    <div
                      class="relative border rounded-tl-md rounded-tr-md p-4 flex flex-col md:pl-4 md:pr-6 md:grid md:grid-cols-3"
                    >
                      <label
                        class="flex items-center text-sm leading-5 space-x-3 cursor-pointer"
                      >
                        <input
                          name="pricing_plan"
                          type="radio"
                          class="form-radio h-4 w-4 text-orange-500 transition duration-150 ease-in-out cursor-pointer"
                          aria-describedby="plan-option-pricing-0 plan-option-limit-0"
                        />
                        <span class="font-medium text-gray-900">Startup</span>
                      </label>
                      <p
                        id="plan-option-pricing-0"
                        class="ml-6 pl-1 text-sm leading-5 md:ml-0 md:pl-0 md:text-center"
                      >
                        <!-- On: "text-orange-900", Off: "text-gray-900" -->
                        <span class="font-medium">$29 / mo</span>
                        <!-- On: "text-orange-700", Off: "text-gray-500" -->
                        <span>($290 / yr)</span>
                      </p>
                      <!-- On: "text-orange-700", Off: "text-gray-500" -->
                      <p
                        id="plan-option-limit-0"
                        class="ml-6 pl-1 text-sm leading-5 md:ml-0 md:pl-0 md:text-right"
                      >
                        Up to 5 active job postings
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- On: "bg-orange-50 border-orange-200 z-10", Off: "border-gray-200" -->
                    <div
                      class="relative border border-gray-200 p-4 flex flex-col md:pl-4 md:pr-6 md:grid md:grid-cols-3"
                    >
                      <label
                        class="flex items-center text-sm leading-5 space-x-3 cursor-pointer"
                      >
                        <input
                          name="pricing_plan"
                          type="radio"
                          class="form-radio h-4 w-4 text-orange-500 transition duration-150 ease-in-out cursor-pointer"
                          aria-describedby="plan-option-pricing-1 plan-option-limit-1"
                          checked
                        />
                        <span class="font-medium text-gray-900">Business</span>
                      </label>
                      <p
                        id="plan-option-pricing-1"
                        class="ml-6 pl-1 text-sm leading-5 md:ml-0 md:pl-0 md:text-center"
                      >
                        <!-- On: "text-orange-900", Off: "text-gray-900" -->
                        <span class="font-medium">$99 / mo</span>
                        <!-- On: "text-orange-700", Off: "text-gray-500" -->
                        <span>($990 / yr)</span>
                      </p>
                      <!-- On: "text-orange-700", Off: "text-gray-500" -->
                      <p
                        id="plan-option-limit-1"
                        class="ml-6 pl-1 text-sm leading-5 md:ml-0 md:pl-0 md:text-right"
                      >
                        Up to 25 active job postings
                      </p>
                    </div>
                  </li>

                  <li>
                    <!-- On: "bg-orange-50 border-orange-200 z-10", Off: "border-gray-200" -->
                    <div
                      class="relative border border-gray-200 rounded-bl-md rounded-br-md p-4 flex flex-col md:pl-4 md:pr-6 md:grid md:grid-cols-3"
                    >
                      <label
                        class="flex items-center text-sm leading-5 space-x-3 cursor-pointer"
                      >
                        <input
                          name="pricing_plan"
                          type="radio"
                          class="form-radio h-4 w-4 text-orange-500 transition duration-150 ease-in-out cursor-pointer"
                          aria-describedby="plan-option-pricing-2 plan-option-limit-2"
                        />
                        <span class="font-medium text-gray-900"
                          >Enterprise</span
                        >
                      </label>
                      <p
                        id="plan-option-pricing-2"
                        class="ml-6 pl-1 text-sm leading-5 md:ml-0 md:pl-0 md:text-center"
                      >
                        <!-- On: "text-orange-900", Off: "text-gray-900" -->
                        <span class="font-medium">$249 / mo</span>
                        <!-- On: "text-orange-700", Off: "text-gray-500" -->
                        <span>($2490 / yr)</span>
                      </p>
                      <!-- On: "text-orange-700", Off: "text-gray-500" -->
                      <p
                        id="plan-option-limit-2"
                        class="ml-6 pl-1 text-sm leading-5 md:ml-0 md:pl-0 md:text-right"
                      >
                        Unlimited active job postings
                      </p>
                    </div>
                  </li>
                </ul>
              </fieldset>

              <div class="flex items-center space-x-3">
                <!-- On: "bg-orange-500", Off: "bg-gray-200" -->
                <span
                  role="checkbox"
                  tabindex="0"
                  aria-checked="true"
                  aria-labelledby="toggleLabel"
                  class="bg-gray-200 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:shadow-outline-orange"
                >
                  <!-- On: "translate-x-5", Off: "translate-x-0" -->
                  <span
                    aria-hidden="true"
                    class="translate-x-0 inline-block h-5 w-5 rounded-full bg-white shadow transform transition ease-in-out duration-200"
                  ></span>
                </span>
                <span id="toggleLabel">
                  <span class="text-sm leading-5 font-medium text-gray-900"
                    >Annual billing
                  </span>
                  <span class="text-sm leading-5 text-gray-500"
                    >(Save 10%)</span
                  >
                </span>
              </div>
            </div>
            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
              <span class="inline-flex rounded-md shadow-sm">
                <button
                  type="submit"
                  class="bg-gray-800 border border-transparent rounded-md py-2 px-4 inline-flex justify-center text-sm leading-5 font-medium text-white hover:bg-gray-700 focus:outline-none focus:border-gray-900 focus:shadow-outline-gray active:bg-gray-900 transition duration-150 ease-in-out"
                >
                  Save
                </button>
              </span>
            </div>
          </div>
        </form>
      </section>

      <!-- Billing history -->
      <section aria-labelledby="billing_history_heading">
        <div
          class="bg-white pt-6 space-y-6 shadow sm:rounded-md sm:overflow-hidden"
        >
          <div class="px-4 sm:px-6">
            <h2
              id="billing_history_heading"
              class="text-lg leading-6 font-medium text-gray-900"
            >
              Billing history
            </h2>
          </div>
          <div class="flex flex-col">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div
                class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8"
              >
                <div class="overflow-hidden border-t border-gray-200">
                  <table class="min-w-full divide-y divide-gray-200">
                    <thead>
                      <tr>
                        <th
                          scope="col"
                          class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                        >
                          Date
                        </th>
                        <th
                          scope="col"
                          class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                        >
                          Description
                        </th>
                        <th
                          scope="col"
                          class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                        >
                          Amount
                        </th>
                        <!--
                            `relative` is added here due to a weird bug in Safari that causes `sr-only` headings to introduce overflow on the body on mobile.
                          -->
                        <th
                          scope="col"
                          class="relative px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                        >
                          <span class="sr-only">View receipt</span>
                        </th>
                      </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                      <tr>
                        <td
                          class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900"
                        >
                          1/1/2020
                        </td>
                        <td
                          class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500"
                        >
                          Business Plan - Annual Billing
                        </td>
                        <td
                          class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500"
                        >
                          CA$109.00
                        </td>
                        <td
                          class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium"
                        >
                          <a
                            href="#"
                            class="text-orange-600 hover:text-orange-900"
                            >View receipt</a
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>
<script>
import SideOptions from '@/components/SideOptions.vue'
export default {
  components: {
    SideOptions,
  }
}
</script>