<template>
  <div>
    <Shell v-if="haveActiveUser">
      <router-view />
    </Shell>
    <Loading v-else-if="loginState === 'initial'" />
    <Login v-else />
  </div>
</template>

<script>
import get from 'lodash/get';
import Shell from '@/components/Shell.vue'
import Loading from '@/views/Loading.vue'

import store from '@/store'
import inventory from '@/stores/inventory';
if (!store.state['inventory']) {
  store.registerModule('inventory', inventory);
}

export default {
  name: 'home',
  data() {
    return {
      items_raw: [],
      menu: {
        show: true
      }
    };
  },
  components: {
    Shell,
    Loading,
     Login: () => import('@/views/Login.vue'),
  },
  computed: {
    username() {
      return get(this.$store.state, 'user.user.username', 'Unknown');
    },
    haveActiveUser() {
      return this.$store.state.user.user != null
    },
    loginState() {
      return this.$store.state.user.loginState
    },
    menuVisibility() {
      return this.$store.state.menu.visible;
    }
  },
  methods: {

  },
  mounted() {
    this.$store.dispatch('user/initUserStoredState')
  }
};
</script>
<style scoped>
.bg-gradient {
  background-image: linear-gradient(
      135deg,
      rgba(19, 176, 223, 0.26) 0%,
      rgba(19, 176, 223, 0.26) 23%,
      rgba(16, 160, 197, 0.26) 23%,
      rgba(16, 160, 197, 0.26) 65%,
      rgba(13, 144, 172, 0.26) 65%,
      rgba(13, 144, 172, 0.26) 70%,
      rgba(9, 129, 146, 0.26) 70%,
      rgba(9, 129, 146, 0.26) 74%,
      rgba(6, 113, 121, 0.26) 74%,
      rgba(6, 113, 121, 0.26) 90%,
      rgba(3, 97, 95, 0.26) 90%,
      rgba(3, 97, 95, 0.26) 100%
    ),
    linear-gradient(
      45deg,
      rgba(65, 234, 230, 0.26) 0%,
      rgba(65, 234, 230, 0.26) 28%,
      rgba(88, 192, 215, 0.26) 28%,
      rgba(88, 192, 215, 0.26) 55%,
      rgba(110, 150, 201, 0.26) 55%,
      rgba(110, 150, 201, 0.26) 66%,
      rgba(133, 107, 186, 0.26) 66%,
      rgba(133, 107, 186, 0.26) 80%,
      rgba(155, 65, 172, 0.26) 80%,
      rgba(155, 65, 172, 0.26) 85%,
      rgba(178, 23, 157, 0.26) 85%,
      rgba(178, 23, 157, 0.26) 100%
    ),
    linear-gradient(
      90deg,
      rgb(255, 255, 255) 0%,
      rgb(255, 255, 255) 6%,
      rgb(207, 239, 255) 6%,
      rgb(207, 239, 255) 32%,
      rgb(116, 186, 232) 32%,
      rgb(116, 186, 232) 40%,
      rgb(82, 152, 232) 40%,
      rgb(82, 152, 232) 66%,
      rgb(74, 116, 211) 66%,
      rgb(74, 116, 211) 72%,
      rgb(86, 96, 202) 72%,
      rgb(86, 96, 202) 86%,
      rgb(97, 77, 194) 86%,
      rgb(97, 77, 194) 96%,
      rgb(109, 57, 185) 96%,
      rgb(109, 57, 185) 100%
    );
}
</style>