<template>
  <div class="min-h-screen bg-gray-100">
    <nav class="bg-white shadow-sm">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
          <div class="flex">
            <div class="flex-shrink-0 flex items-center">
              <NovaLinkLogo class="w-48" />
            </div>
            <div class="hidden sm:ml-6 sm:flex">
              <a
                href="#/"
                class="inline-flex items-center px-1 pt-1 border-b-2 border-indigo-500 text-sm font-medium leading-5 text-gray-900 focus:outline-none focus:border-indigo-700 transition duration-150 ease-in-out"
              >Home</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="py-10 max-w-7xl mx-auto">
      <header class="pb-3">
        <div class="px-4 sm:px-6 lg:px-8">
          <h2 class="text-3xl font-bold leading-tight text-gray-900">Icon Catalog</h2>
        </div>
      </header>
      <div class="m-4 pt-3 flex-1 px-4 flex justify-between">
        <div class="hidden sm:block">
          <div class="border-b border-gray-200">
            <nav class="-mb-px flex">
              <div
                href="#"
                class="whitespace-no-wrap py-4 px-1 border-b-2 border-transparent font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 flex flex-row"
              >
                <span class="py-2 px-2">Search</span>
                <input
                  v-model="search"
                  @keyup.esc="search=''"
                  id="search_field"
                  class="block w-full h-full pl-8 pr-3 py-2 rounded-md text-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 sm:text-sm"
                  placeholder
                />
              </div>
              <div
                href="#"
                class="whitespace-no-wrap ml-8 py-4 px-1 border-b-2 border-transparent font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300"
              >
                <span class="py-2 px-2">Size: {{iconConteinerSize}}</span>
                <input type="range" list="tickmarks" min="1" max="64" v-model="iconConteinerSize" />
                <datalist id="tickmarks">
                  <option value="1"></option>
                  <option value="2"></option>
                  <option value="3"></option>
                  <option value="4"></option>
                  <option value="5"></option>
                  <option value="8"></option>
                  <option value="10"></option>
                  <option value="12"></option>
                  <option value="16"></option>
                  <option value="20"></option>
                  <option value="24"></option>
                  <option value="32"></option>
                  <option value="40"></option>
                  <option value="48"></option>
                  <option value="56"></option>
                  <option value="64"></option>
                </datalist>
              </div>
              <div
                href="#"
                class="whitespace-no-wrap ml-8 py-4 px-1 border-b-2 border-transparent font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300"
              >
                <span class="py-2 px-2">intensity: {{colorIntensity}}</span>
                <input type="range" list="intensities" min="100" max="900" step="100" v-model="colorIntensity" />
                <datalist id="intensities">
                  <option value="100"></option>
                  <option value="200"></option>
                  <option value="300"></option>
                  <option value="400"></option>
                  <option value="500"></option>
                  <option value="600"></option>
                  <option value="700"></option>
                  <option value="800"></option>
                  <option value="900"></option>
                </datalist>
              </div>
              <div
                href="#"
                class="whitespace-no-wrap ml-8 py-4 px-1 border-b-2 border-transparent font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300"
              >
                <span class="py-2 px-2">Color: {{selectedColor}}</span>
                <nav class="relative z-0 inline-flex shadow-sm">
                  <button
                  v-for="c in colors"
                    :key="c"
                    type="button"
                    :class="`bg-${c}${['black','white'].includes(c)?'':'-'+colorIntensity}`"
                    @click="selectedColor=c"
                    class="relative inline-flex items-center px-3 py-3 border border-gray-300 text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150"
                    aria-label="Previous"
                  ></button>
                </nav>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <main>
        <div
          class="fixed inset-0 flex items-end justify-center px-4 py-6 pointer-events-none sm:p-6 sm:items-start sm:justify-end"
        >
          <div
            v-for="(icon, i) in copiedIcon"
            :key="i"
            class="max-w-sm w-full bg-white shadow-lg rounded-lg pointer-events-auto"
          >
            <transition
              enter-class="transform ease-out duration-300 transition"
              enter-start-class="translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-2"
              enter-end-class="translate-y-0 opacity-100 sm:translate-x-0"
              leave-class="transition ease-in duration-100"
              leave-start-class="opacity-100"
              leave-end-class="opacity-0"
            >
              <div class="rounded-lg shadow-xs overflow-hidden">
                <div class="p-4">
                  <div class="flex items-start">
                    <div class="flex-shrink-0">
                      <svg
                        class="h-6 w-6 text-green-400"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                        />
                      </svg>
                    </div>
                    <div class="ml-3 w-0 flex-1 pt-0.5">
                      <p class="text-sm leading-5 font-medium text-gray-900">Copied {{icon}}</p>
                    </div>
                    <div class="ml-4 flex-shrink-0 flex">
                      <button
                        @click="copiedIcon.splice(i,1)"
                        class="inline-flex text-gray-400 focus:outline-none focus:text-gray-500 transition ease-in-out duration-150"
                      >
                        <Icon name="x" :size="20" class="h-5 w-5 text-gray-500" />
                        <!-- <Icon :name="cloud-upload" size="20" class="h-5 w-5 text-gray-500" /> -->
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </transition>
          </div>
        </div>

        <div class="sm:px-6 lg:px-8">
          <div class="mt-6 grid grid-cols-2 gap-0.5 md:grid-cols-6 lg:mt-8">
            <div
              @dragstart="dragstart($event,i)"
              @drop="drop($event, i)"
              @dragenter.prevent="dragenter"
              @dragover.prevent="dragover"
              @dragend="dragend($event, i)"
              draggable="true"
              @click="copyToClipboard($event, icon)"
              class="col-span-1 flex flex-col justify-center py-8 px-8 bg-gray-50"
              v-for="(icon,i) in icons.filter(e => e.includes(search))"
              :key="i"
            >
              <Icon
                :name="icon"
                :class="`h-${iconConteinerSize} w-${iconConteinerSize} text-${selectedColor}${['black','white'].includes(selectedColor)?'':'-'+colorIntensity}`"
              />
              <span class>{{icon}}</span>
            </div>
          </div>
        </div>
      </main>
    </div><Icon name="clipboard-list" class="h-6 w-6 text-gray-500" />
  </div>
</template>

<script>
import Icon from '@/components/Icon.vue'
import NovaLinkLogo from '@/components/NovaLinkLogo.vue'
import { icons } from '@/components/Icon/icons.js'

export default {
  name: 'iconCatalog',
  data() {
    return {
      icons: Object.keys(icons),
      search: '',
      copiedIcon: [],
      iconSize: 24,
      iconConteinerSize: 6,
      colorIntensity:500,
      selectedColor:'gray',
      colors: ['gray', 'red', 'orange', 'yellow', 'green', 'teal', 'blue', 'indigo', 'purple', 'pink', 'black', 'white']
    }
  },
  components: {
    Icon,
    NovaLinkLogo,
  },
  methods: {
    copyToClipboard(e, icon) {
      navigator.clipboard.writeText(`<Icon name="${icon}" class="h-${this.iconConteinerSize} w-${this.iconConteinerSize} text-${this.selectedColor}${['black','white'].includes(this.selectedColor)?'':'-'+this.colorIntensity}" />`).then(() => {
        this.copiedIcon.push(icon)
      }, function () {
        /* clipboard write failed */
      });
    },
    dragstart(e, i) {
      e.dataTransfer.setData('text/plain', i)
    },
    drop(e, i) {
      let t = e.dataTransfer.getData('text/plain')
      console.log('drop')
      console.log(e.dataTransfer, i)
      if (e.dataTransfer.effectAllowed == 'all') {
        let n0 = [...this.icons]
        let ni = n0[i]
        let nt = n0[t]
        n0[i] = nt
        n0[t] = ni

        this.icons = n0
      } else if (e.dataTransfer.effectAllowed == 'copy') {
        this.icons.splice(i, 0, this.icons[t])
      } else if (e.dataTransfer.effectAllowed == 'link') {
        console.log('not implemented')
      }
    },
    dragenter() { },
    dragover() { },
    dragend() { },
  },
}
</script>