<template>
  <section class="hero is-light is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">NovaLink PIX</h1>
        <h2 class="subtitle">Loading...</h2>
      </div>
    </div>
  </section>
</template>

<script>
import get from 'lodash/get'

export default {
  name: 'InitialLoad',
  data () {
    return {}
  },
  async mounted () {
    // fetch information of the user from database
    this.$store
      .dispatch('user/initUserStoredState')
      .then((/* response */) => {
        let nextPath = get(this.$router, 'history.current.query.redirect', null)
        if (nextPath == null) {
          // if there is no redirection then we redirect to a base path
          this.$router.push({
            path: '/'
          })
        } else {
          this.$router.push({
            path: nextPath
          })
        }
      })
      .catch(() => {
        // handle the case when for some reason the token is incorrect
        let nextPath = get(this.$router, 'history.current.query.redirect', null)
        this.$router.push({
          path: '/login',
          query: {
            reason: 'Session expired',
            redirect: nextPath,
          }
        })
      })
  }
}
</script>
