<template>
    <div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
      <div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-12">
        <section aria-labelledby="billing_history_heading">
        <div
          class="bg-white pt-6 space-y-6 shadow sm:rounded-md sm:overflow-hidden"
        >
          <div class="px-4 sm:px-6">
            <h2
              id="billing_history_heading"
              class="text-lg leading-6 font-medium text-gray-900"
            >
              Current inventory
            </h2>
          </div>
          <div class="flex flex-col">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div
                class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8"
              >
                <div class="overflow-hidden border-t border-gray-200">
                  <table class="min-w-full divide-y divide-gray-200">
                    <thead>
                      <tr>
                        <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                          Part
                        </th>
                        <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                          PIX Id
                        </th>
                        <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                          Quantity
                        </th>
                        <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                          Description
                        </th>
                        <!--
                            `relative` is added here due to a weird bug in Safari that causes `sr-only` headings to introduce overflow on the body on mobile.
                          -->
                        <th scope="col" class="relative px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                          <span class="sr-only">View receipt</span>
                        </th>
                      </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                      <tr>
                        <td
                          class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900"
                        >
                          1/1/2020
                        </td>
                        <td
                          class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500"
                        >
                          Business Plan - Annual Billing
                        </td>
                        <td
                          class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500"
                        >
                          CA$109.00
                        </td>
                        <td
                          class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500"
                        >
                          CA$109.00
                        </td>
                        <td
                          class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium"
                        >
                          <a
                            href="#"
                            class="text-orange-600 hover:text-orange-900"
                            >View receipt</a
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      </div>
    </div>
</template>
<script>


export default {
    
}
</script>