<template>
  <div class="bg-gradient w-screen h-screen">
    <div class="bg-transparent">
      <div
        class="max-w-screen-xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8 lg:flex lg:justify-between"
      >
        <div class="max-w-xl">
          <h2
            class="animate-pulse text-4xl leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none sm:tracking-tight lg:text-6xl"
          >
            Loading...
          </h2>
          <p class="mt-5 text-xl leading-7 text-gray-500">
            We are bringing your information back
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {

}
</script>