<template>
  <div class="min-h-screen bg-white flex">
    <div
      class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24"
    >
      <div class="mx-auto w-full max-w-sm">
        <div>
          <NovaLinkLogo></NovaLinkLogo>
          <h2 class="mt-6 text-3xl leading-9 font-extrabold text-gray-900">Sign in to your account</h2>
          <div
            v-if="error.password"
            class="my-8 bg-red-100 border-t-4 border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md transition ease-in duration-700"
            role="alert"
          >
            <div class="flex">
              <div class="py-1">
                <svg
                  class="fill-current h-6 w-6 text-red-500 mr-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"
                  />
                </svg>
              </div>
              <div>
                <p class="font-bold">{{error.message}}</p>
                <p class="text-sm">{{error.password}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-8">
          <div class="mt-6">
            <form @submit.prevent="login()">
              <div>
                <label
                  for="email"
                  class="block text-sm font-medium leading-5 text-gray-700"
                >Email address</label>
                <div class="mt-1 rounded-md shadow-sm">
                  <input
                    v-model="email"
                    id="email"
                    ref="email"
                    type="email"
                    required
                    autofocus
                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                  />
                </div>
              </div>

              <div class="mt-6">
                <label
                  for="password"
                  class="block text-sm font-medium leading-5 text-gray-700"
                >Password</label>
                <div class="mt-1 rounded-md shadow-sm">
                  <input
                    v-model="password"
                    id="password"
                    type="password"
                    required
                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                  />
                </div>
              </div>

              <div class="mt-6 flex items-center justify-between">
                <div class="flex items-center">
                  <input
                    id="remember_me"
                    type="checkbox"
                    class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out"
                  />
                  <label
                    for="remember_me"
                    class="ml-2 block text-sm leading-5 text-gray-900"
                  >Remember me</label>
                </div>

                <div class="text-sm leading-5">
                  <a
                    href="#/recover_password"
                    class="font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150"
                  >Forgot your password?</a>
                </div>
              </div>

              <div class="mt-6">
                <span class="block w-full rounded-md shadow-sm">
                  <button
                    type="submit"
                    class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out"
                  >Sign in</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden lg:block relative w-0 flex-1">
      <div class="absolute inset-0 h-full w-full object-cover bg-gradient"></div>
    </div>
  </div>
</template>

<script>
import get from 'lodash/get';
import NovaLinkLogo from '@/components/NovaLinkLogo.vue'
// import '@/assets/novalink-large.png';

export default {
  name: 'login',
  data() {
    return {
      loading: false,
      email: '',
      password: '',
      menu: {
        show: true
      },
      error: {
        message: '',
        email: '',
        password: ''
      }
    };
  },
  watch: {
    password() {
      this.error.password = ''
    },
    email() {
      this.error.password = ''
    }
  },
  methods: {
    login() {
      this.$store
        .dispatch('user/retrieveToken', {
          email: this.email,
          password: this.password
        })
        .catch(response => {
          // console.log(response);
          this.error.message = get(response, 'data.message', 'An error has occurred')
          this.error.password = get(response, 'data.errors.validation', 'An unidentified problem has occured, please try again later.')
        });
    }
  },
  components: {
    NovaLinkLogo,
  },
  mounted() {
    this.error.email = this.$route.query.reason || '';
    this.error.code = this.$route.query.error || '';
    this.$refs.email.focus()
  }
};
</script>
<style scoped>
.bg-gradient {
  background-image: linear-gradient(
      135deg,
      rgba(19, 176, 223, 0.26) 0%,
      rgba(19, 176, 223, 0.26) 23%,
      rgba(16, 160, 197, 0.26) 23%,
      rgba(16, 160, 197, 0.26) 65%,
      rgba(13, 144, 172, 0.26) 65%,
      rgba(13, 144, 172, 0.26) 70%,
      rgba(9, 129, 146, 0.26) 70%,
      rgba(9, 129, 146, 0.26) 74%,
      rgba(6, 113, 121, 0.26) 74%,
      rgba(6, 113, 121, 0.26) 90%,
      rgba(3, 97, 95, 0.26) 90%,
      rgba(3, 97, 95, 0.26) 100%
    ),
    linear-gradient(
      45deg,
      rgba(65, 234, 230, 0.26) 0%,
      rgba(65, 234, 230, 0.26) 28%,
      rgba(88, 192, 215, 0.26) 28%,
      rgba(88, 192, 215, 0.26) 55%,
      rgba(110, 150, 201, 0.26) 55%,
      rgba(110, 150, 201, 0.26) 66%,
      rgba(133, 107, 186, 0.26) 66%,
      rgba(133, 107, 186, 0.26) 80%,
      rgba(155, 65, 172, 0.26) 80%,
      rgba(155, 65, 172, 0.26) 85%,
      rgba(178, 23, 157, 0.26) 85%,
      rgba(178, 23, 157, 0.26) 100%
    ),
    linear-gradient(
      90deg,
      rgb(255, 255, 255) 0%,
      rgb(255, 255, 255) 6%,
      rgb(207, 239, 255) 6%,
      rgb(207, 239, 255) 32%,
      rgb(116, 186, 232) 32%,
      rgb(116, 186, 232) 40%,
      rgb(82, 152, 232) 40%,
      rgb(82, 152, 232) 66%,
      rgb(74, 116, 211) 66%,
      rgb(74, 116, 211) 72%,
      rgb(86, 96, 202) 72%,
      rgb(86, 96, 202) 86%,
      rgb(97, 77, 194) 86%,
      rgb(97, 77, 194) 96%,
      rgb(109, 57, 185) 96%,
      rgb(109, 57, 185) 100%
    );
}
</style>