<template>
  <div class="space-y-4 py-2 sm:px-4 lg:px-0 lg:col-span-12">
    <section aria-labelledby="movement_information">
      <div action="#" method="POST">
        <div class="shadow sm:rounded-md sm:overflow-hidden">
          <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
            <div>
              <h2
                id="movement_information"
                class="text-lg leading-6 font-medium text-gray-900"
              >
                General information
              </h2>
              <p class="mt-1 text-sm leading-5 text-gray-500">
                Update your billing information. Please note that updating your
                location could affect your tax rates.
              </p>
            </div>

            <div class="grid grid-cols-8 gap-6">
              <div class="col-span-4 sm:col-span-2">
                <label
                  for="movement_type"
                  class="block text-sm font-medium leading-5 text-gray-700"
                  >Movement type</label
                >
                <select
                  id="movement_type"
                  v-model="movementType"
                  class="form-select mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                >
                  <option
                    v-for="option in movementOptions"
                    :value="option.type"
                    :key="option.type"
                  >
                    {{ option.name }}
                  </option>
                </select>
                <p
                  v-for="e in errors.movementType"
                  :key="e"
                  class="mt-2 text-sm text-red-600"
                  id="email-error"
                >
                  {{ e }}
                </p>
              </div>
              <div class="col-span-4 sm:col-span-2">
                <label
                  for="destination"
                  class="block text-sm font-medium leading-5 text-gray-700"
                  >Target destination</label
                >
                <input
                  id="destination"
                  v-model="targetLocation"
                  list="predefined_location_help"
                  class="form-input mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                />
                <p
                  v-for="e in errors.targetLocation"
                  :key="e"
                  class="mt-2 text-sm text-red-600"
                  id="email-error"
                >
                  {{ e }}
                </p>

                <datalist id="predefined_location_help">
                  <option
                    v-for="o in predefinedLocationHelp"
                    :key="o"
                    :value="o"
                  >
                    {{ o }}
                  </option>
                </datalist>
              </div>

              <div class="col-span-4 sm:col-span-2">
                <div class="flex justify-between">
                  <label
                    for="work_order"
                    class="block text-sm font-medium leading-5 text-gray-700"
                    >Work order / Cut ticket</label
                  >
                  <span
                    class="text-sm leading-5 text-gray-500"
                    id="email-optional"
                    >Optional</span
                  >
                </div>
                <input
                  v-model="workOrder"
                  id="work_order"
                  class="form-input mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                />
              </div>

              <div class="col-span-4 sm:col-span-2">
                <div class="flex justify-between">
                  <label
                    for="comments"
                    class="block text-sm font-medium leading-5 text-gray-700"
                    >Comments</label
                  >
                  <span
                    class="text-sm leading-5 text-gray-500"
                    id="email-optional"
                    >Optional</span
                  >
                </div>
                <input
                  id="comments"
                  v-model="comments"
                  class="form-input mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section aria-labelledby="part_information">
      <form @submit.prevent="validateAndAdd">
        <div class="shadow sm:rounded-md sm:overflow-hidden">
          <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
            <div>
              <h2
                id="part_information"
                class="text-lg leading-6 font-medium text-gray-900"
              >
                Part information
              </h2>
              <p class="mt-1 text-sm leading-5 text-gray-500">
                Use the following information to create the list of the material
                you want to move .
              </p>
            </div>

            <div class="grid grid-cols-8 gap-6">
              <div class="col-span-4 sm:col-span-2">
                <label
                  for="part"
                  class="block text-sm font-medium leading-5 text-gray-700"
                >
                  Part
                </label>

                <input
                  v-model="partInformation.part"
                  id="part"
                  list="part_numbers"
                  @blur="lookForCurrentInventory"
                  class="form-input mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                />
                <p
                  v-for="e in errors.part"
                  :key="e"
                  class="mt-2 text-sm text-red-600"
                  id="email-error"
                >
                  {{ e }}
                </p>
                <datalist id="part_numbers">
                  <option
                    v-for="(part, i) in inventory
                      .filter((z) => z.part.includes(partInformation.part))
                      .filter((_, i) => i < 10)"
                    :key="i"
                    :value="part.part"
                  >
                    {{ part.part }}
                  </option>
                </datalist>
              </div>

              <div class="col-span-4 sm:col-span-2">
                <label
                  for="quantity"
                  class="block text-sm font-medium leading-5 text-gray-700"
                  >Quantity</label
                >

                <input
                  v-model="partInformation.qty"
                  id="quantity"
                  class="form-input mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                />
                <p
                  v-for="e in errors.qty"
                  :key="e"
                  class="mt-2 text-sm text-red-600"
                  id="email-error"
                >
                  {{ e }}
                </p>
              </div>

              <fieldset class="col-span-4">
                <legend class="text-base font-medium text-gray-900">
                  Location
                </legend>
                <p class="text-sm leading-5 text-gray-500">
                  Available inventory by location.
                </p>
                <p
                  v-for="e in errors.location"
                  :key="e"
                  class="mt-2 text-sm text-red-600"
                  id="email-error"
                >
                  {{ e }}
                </p>
                <div class="mt-4">
                  <div
                    v-for="(loc, i) in availableInventory.filter(
                      (z) => z.qty > 0
                    )"
                    :key="i"
                    class="flex items-center"
                  >
                    <input
                      v-model="partInformation.location"
                      :id="`loc-${i}`"
                      :value="loc.location"
                      name="push_notifications"
                      type="radio"
                      class="form-radio h-4 w-4 text-indigo-600 transition duration-150 ease-in-out"
                    />
                    <label :for="`loc-${i}`" class="ml-3">
                      <!-- {{JSON.stringify(i)}} -->
                      <span
                        class="block text-sm leading-5 font-medium text-gray-700"
                        >{{ loc.qty }} in [{{ loc.location }}]</span
                      >
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <span class="inline-flex rounded-md shadow-sm">
              <button
                type="submit"
                class="bg-gray-800 border border-transparent rounded-md py-2 px-4 inline-flex justify-center text-sm leading-5 font-medium text-white hover:bg-gray-700 focus:outline-none focus:border-gray-900 focus:shadow-outline-gray active:bg-gray-900 transition duration-150 ease-in-out"
              >
                <Icon name="document-add" class="h-5 w-5 mr-1" />
                Add to list
              </button>
            </span>
          </div>
        </div>
      </form>
    </section>
    <section aria-labelledby="current_inventory">
      <div
        class="bg-white pt-4 space-y-4 shadow sm:rounded-md sm:overflow-hidden"
      >
        <div class="px-4 sm:px-6 flex justify-between items-center">
          <h2
            id="current_inventory"
            class="text-lg leading-6 font-medium text-gray-900"
          >
            Material list
          </h2>
          <!-- <div class="max-w-xs w-full">
            <label for="search" class="sr-only">Search</label>
            <div class="relative">
              <div
                class="pointer-events-none absolute inset-y-0 left-0 pl-3 flex items-center"
              >
                <Icon
                  name="search"
                  class="flex-shrink-0 h-5 w-5 text-gray-400"
                />
              </div>
              <input
                v-model="search"
                type="search"
                class="block w-full bg-white border border-gray-300 rounded-md py-2 pl-10 pr-3 text-sm leading-5 placeholder-gray-500 focus:outline-none focus:text-gray-900 focus:placeholder-gray-400 focus:border-blue-300 focus:shadow-outline-blue sm:text-sm transition duration-150 ease-in-out"
                placeholder="Search"
              />
            </div>
          </div> -->
        </div>
        <Table :fields="tableFields" :data="wishList">
          <template #actions="{ part, row }">
            <button
              type="button"
              @click="removeLine(row)"
              class="flex text-red-600 hover:text-red-800"
            >
              <Icon name="minus-circle" class="h-5 w-5 mr-1" />Remove
            </button>
          </template>
          <template #empty v-if="errors.partList">
            <div class="bg-yellow-200">
              <div
                class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-24 lg:px-8 lg:flex lg:items-center lg:justify-between"
              >
                <h2
                  class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 md:text-4xl md:leading-10"
                >
                  <span class="block"
                    >Use the fields above to create a list of material that you
                    want to move</span
                  >
                  <!-- <span class="block text-blue-600">Use the form above to make one and move material to a new location</span> -->
                </h2>
              </div>
            </div>
          </template>
        </Table>
        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
          <span class="inline-flex rounded-md shadow-sm">
            <button
              @click="recordMovement"
              type="button"
              class="bg-gray-800 border border-transparent rounded-md py-2 px-4 inline-flex justify-center text-sm leading-5 font-medium text-white hover:bg-gray-700 focus:outline-none focus:border-gray-900 focus:shadow-outline-gray active:bg-gray-900 transition duration-150 ease-in-out"
            >
              <Icon name="switch-horizontal" class="h-5 w-5 mr-1" />
              Move Material
            </button>
          </span>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import Icon from '@/components/Icon.vue';
import Table from '@/components/Table2/Table.vue';
import axios from 'axios';
import { validate, fails } from '@/libs/laravel-validate';

export default {
  components: {
    Icon,
    Table,
  },
  data() {
    return {
      movementType: null,
      commitingTransaction: false,
      partInformation: {
        part: '',
        qty: 0,
        location: '',
      },
      workOrder: '',
      targetLocation: '',
      errors: {},
      comments: '',
      search: '',
      currentPart: null,
      tableFields: [
        { label: 'Part', field: 'part' },
        { label: 'Quantity', field: 'qty' },
        { label: 'Location', field: 'location' },
        { screenReader: 'View movements', slot: 'actions' },
      ],
      wishList: [],
      availableInventory: [],
      movementOptions: [
        { type: 'OUT', name: 'Entrega a produccion' },
        { type: 'ENGINEERING_SAMPLES', name: 'Muestras para ingeniería' },
        { type: 'MOVE', name: 'Cambio de locacion' },
        { type: 'INVENTORY_ADJUSTMENT', name: 'Ajuste de inventario' },
        { type: 'MOVEMENT_ADJUSTMENT', name: 'Ajuste por error de captura' },
        {
          type: 'AMERICAN_GOOD_RETURN',
          name: 'AGR - Retorno de materia prima',
        },
      ],
      predefinedLocationHelp: ['PRODUCTION', 'HOLD', 'SCRAP'],
    };
  },
  methods: {
    lookForCurrentInventory() {
      let full = this.inventory.find(
        (e) => e.part === this.partInformation.part
      );
      if (full) {
        this.currentPart = full;
        this.availableInventory = full.inventory_by_location;
      }
    },
    removeLine(row) {
      this.wishList.splice(row, 1);
    },
    validateAndAdd() {
      let partErrors = validate(
        {
          part: ['in:' + this.inventory.map((z) => z.part).join(','), 'min:0'],
          qty: ['number', 'greater:0'],
          location: ['minlength:1'],
        },
        this.partInformation
      );
      if (!fails(partErrors)) {
        this.errors = { ...this.errors, ...partErrors };
        return null;
      }

      this.wishList.unshift({
        part: this.partInformation.part,
        qty: this.partInformation.qty,
        location: this.partInformation.location,
      });
      this.partInformation = {
        part: '',
        qty: 0,
        location: '',
      };
      this.errors = {};
      this.availableInventory = [];
      document.getElementById('part').focus();
    },
    recordMovement() {
      let transaction = {
        movementType: this.movementType,
        reason: this.reason,
        cuteTicket: this.cuteTicket,
        targetLocation: this.targetLocation,
        partList: this.wishList,
      };
      let transactionErrors = validate(
        {
          movementType: ['in:' + this.movementOptions.map((z) => z.type).join(',')],
          targetLocation: ['minlength:1'],
          partList: ['minlength:1']
        },
        transaction
      );
      if (!fails(transactionErrors)) {
        this.errors = { ...this.errors, ...transactionErrors };
        return null;
      }
      this.commitingTransaction = true;
      axios
        .post('api/inventory/move_inventory_to_location', {
          parts: this.wishList,
          transaction: {
            company_id: this.$store.state.inventory.company_id,
            movement_type: this.movementType,
            reason: this.reason,
            cute_ticket: this.cuteTicket,
            target_location: this.targetLocation,
          },
        })
        .then(() => {
          this.wishList = [];
          this.errors = {};
          this.commitingTransaction = false;
          this.$store.dispatch(
            'inventory/getInventory',
            this.$store.state.user.selectedCompany
          )
        })
        .finally(() => {
        })
    },
  },
  computed: {
    inventory() {
      return this.$store.state.inventory.current;
    },
  },
  mounted() {
    this.$store.dispatch(
      'inventory/getInitialInventory',
      this.$store.state.user.selectedCompany
    );
  },
};
</script>