<template>
<!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
-->
<div class="fixed z-10 inset-0 overflow-y-auto">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <!--
      Background overlay, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 transition-opacity">
      <div class="absolute inset-0 bg-gradient"></div>
    </div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;
    <!--
      Modal panel, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        To: "opacity-100 translate-y-0 sm:scale-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100 translate-y-0 sm:scale-100"
        To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    -->
    <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-sm sm:w-full sm:p-6" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
      <div>
        <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-yellow-100">
          <!-- Heroicon name: check -->
          <Icon name="information-circle" class="h-6 w-6 text-yellow-600" />
        </div>
        <div class="mt-3 text-center sm:mt-5">
          <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
            Page not found
          </h3>
          <div class="mt-2">
            <p class="text-sm leading-5 text-gray-500">
              The page you are looking for is not here. Please go back or check with your software administrator.
            </p>
          </div>
        </div>
      </div>
      <div class="mt-5 sm:mt-6">
        <span class="flex w-full rounded-md shadow-sm">
          <a href="#/" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-indigo-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo transition ease-in-out duration-150 sm:text-sm sm:leading-5">
            Go back to dashboard
          </a>
        </span>
      </div>
    </div>
  </div>
</div>

</template>

<script>
// import Header from '@/components/Header.vue';
import Icon from '@/components/Icon.vue';
export default {
  components: {
    // Header,
    Icon,
  }
};
</script>

<style scoped>
.bg-gradient {
  background-image: linear-gradient(
      135deg,
      rgba(19, 176, 223, 0.26) 0%,
      rgba(19, 176, 223, 0.26) 23%,
      rgba(16, 160, 197, 0.26) 23%,
      rgba(16, 160, 197, 0.26) 65%,
      rgba(13, 144, 172, 0.26) 65%,
      rgba(13, 144, 172, 0.26) 70%,
      rgba(9, 129, 146, 0.26) 70%,
      rgba(9, 129, 146, 0.26) 74%,
      rgba(6, 113, 121, 0.26) 74%,
      rgba(6, 113, 121, 0.26) 90%,
      rgba(3, 97, 95, 0.26) 90%,
      rgba(3, 97, 95, 0.26) 100%
    ),
    linear-gradient(
      45deg,
      rgba(65, 234, 230, 0.26) 0%,
      rgba(65, 234, 230, 0.26) 28%,
      rgba(88, 192, 215, 0.26) 28%,
      rgba(88, 192, 215, 0.26) 55%,
      rgba(110, 150, 201, 0.26) 55%,
      rgba(110, 150, 201, 0.26) 66%,
      rgba(133, 107, 186, 0.26) 66%,
      rgba(133, 107, 186, 0.26) 80%,
      rgba(155, 65, 172, 0.26) 80%,
      rgba(155, 65, 172, 0.26) 85%,
      rgba(178, 23, 157, 0.26) 85%,
      rgba(178, 23, 157, 0.26) 100%
    ),
    linear-gradient(
      90deg,
      rgb(255, 255, 255) 0%,
      rgb(255, 255, 255) 6%,
      rgb(207, 239, 255) 6%,
      rgb(207, 239, 255) 32%,
      rgb(116, 186, 232) 32%,
      rgb(116, 186, 232) 40%,
      rgb(82, 152, 232) 40%,
      rgb(82, 152, 232) 66%,
      rgb(74, 116, 211) 66%,
      rgb(74, 116, 211) 72%,
      rgb(86, 96, 202) 72%,
      rgb(86, 96, 202) 86%,
      rgb(97, 77, 194) 86%,
      rgb(97, 77, 194) 96%,
      rgb(109, 57, 185) 96%,
      rgb(109, 57, 185) 100%
    );
}
</style>