<template>
  <div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full">
      <div>
        <div class="mx-auto h-32 w-auto">
          <NovaLinkLogo />
        </div>
        <h2
          class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900"
        >Reset your password</h2>
        <p class="mt-2 text-center text-sm leading-5 text-gray-600">
          Or
          <a
            href="#/login"
            class="font-medium text-blue-600 hover:text-blue-500 focus:outline-none focus:underline transition ease-in-out duration-150"
          >login with your current password</a>
        </p>
      </div>
      <form class="mt-8" @submit.prevent="sendRecoveryPassword()" v-if="!mailSended">
        <div class="rounded-md shadow-sm">
          <div>
            <label for="email" class="text-md font-medium leading-5 text-gray-700">Email</label>
            <div class="mt-1 relative rounded-md shadow-sm">
              <input
                aria-label="Email address"
                name="email"
                type="email"
                v-model="email"
                required
                class="appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 text-md sm:leading-5"
                placeholder="Email address"
              />
            </div>
            <p class="mt-2 text-sm text-gray-500" id="email-description">We will send an email with a password recovery link to this address.</p>
          </div>
        </div>

        <div class="mt-6">
          <button
            type="submit"
            :disabled="loading"
            :class="'group relative w-full flex justify-center py-2 px-4 border border-transparent text-md leading-5 font-semibold rounded-md text-white bg-blue-600 hover:bg-blue-500 focus:outline-none focus:border-blue-700 focus:shadow-outline-blue active:bg-blue-700 transition duration-150 ease-in-out' + (loading?' cursor-not-allowed':'')"
          >
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <Icon
                v-if="loading"
                name="support"
                :class="'h-8 w-8 ' + (loading ? 'animate-spin' : 'text-white') "
              />
            </span>
            Send password recovery email
          </button>
        </div>
      </form>
      <div v-else class="bg-white shadow sm:rounded-lg mt-8 md:-mx-20">
        <div class="px-4 py-5 sm:p-6">
          <h3
            class="text-xl leading-6 font-medium text-gray-900 pb-2"
          >Your password reset link was send successfuly</h3>
          <div class="mt-2 max-w-xl text-md leading-6 tracking-wide text-gray-700">
            <p>Please check in your email for a message from <code class="text-gray-600 bg-transparent text-md">noreply@novalinkpix.com</code>, and follow the instructions to reset your password.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NovaLinkLogo from '@/components/NovaLinkLogoWithText.vue'
import Icon from '@/components/Icon.vue'
import axios from 'axios'

export default {
  name: 'login',
  data() {
    return {
      loading: false,
      mailSended: false,
      email: '',
      password: '',
      menu: {
        show: true
      },
      error: {
        email: '',
        password: ''
      }
    };
  },
  watch: {
    email() {
      this.error.password = ''
      this.mailSended = false
    }
  },
  methods: {
    sendRecoveryPassword() {
      this.loading = true
      axios.post('api/user/recoverEmail', {
        email: this.email
      }).then(r => {
        console.log(r.data)
      }).finally(() => {
        this.loading = false
        this.mailSended = true
      })
    }
  },
  components: {
    NovaLinkLogo,
    Icon,
  },
};
</script>

