<template>
<div class="bg-white">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <div class="">
      <div>
        <h2 class="text-3xl leading-9 font-extrabold text-gray-900 sm:text-4xl sm:leading-10">
          Select the company you will be working with
        </h2>
        <p class="mt-3 max-w-3xl text-lg leading-7 text-gray-500">
          If the company you need is not in your list, please request access with your supervisor.
        </p>
        <div v-if="false" class="mt-8 sm:flex">
          <div class="rounded-md shadow">
            <a href="#" class="flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
              Create Account
            </a>
          </div>
          <div class="mt-3 sm:mt-0 sm:ml-3">
            <a href="#" class="flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:text-indigo-600 hover:bg-indigo-50 focus:outline-none focus:shadow-outline focus:border-indigo-300 transition duration-150 ease-in-out">
              Contact Us
            </a>
          </div>
        </div>
      </div>
      <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-6 lg:grid-cols-4">
        <a @click="()=>{setCompany(i)}" :href="`#/${i}`" v-for="(company, i) in companies" :key="i" class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
          <!-- <img class="max-h-12" src="https://tailwindui.com/img/logos/v1/transistor-logo.svg" alt="Workcation"> -->
          {{company.name}}
        </a>
      </div>
    </div>
  </div>
</div>

</template>
<script>
export default {
    computed:{
        companies(){
            return this.$store.state.user.companies
        }
    },
    methods:{
        setCompany(id){
            return this.$store.dispatch('user/setCompany', id)
        }
    },
}
</script>