<template>
  <div>
    <Header @menutoggle="toogleMenu()"></Header>
    <div class="section" style="padding-bottom: 0;padding-top: 20px">
      <div class="columns" style>
        <transition name="slide-fade" appear>
          <div v-show="menuVisibility" class="column is-2-widescreen is-3 is-hidden-mobile">
            <!-- style="max-height: calc(100vh - ( 4.6rem - .75rem ));overflow-y: auto" -->
            <aside class="menu" v-for="item in items" v-bind:key="item.name + 'aside'">
                <p class="menu-label is-size-5 has-text-weight-semibold" v-bind:key="item.name + 'p-label'">{{item.name}}</p>
                <ul class="menu-list" v-bind:key="item.name">
                  <ParaSqlLink v-for="child in item.childs" :parasql="child" :user="username" :key="child.appid"></ParaSqlLink>
                </ul>
            </aside>
          </div>
        </transition>
        <div class="column is-paddingless is-margingless">
          <div class="hero is-paddigless">
            <!-- style="max-height: calc(100vh - ( 4.6rem - .75rem ));padding: 0;margin: 0;" -->
            <iframe style="min-height:1360px;" frameborder="0" name="parasqlcontainer"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
iframe {
  max-height: 200vh;
  height: 95vh;
}
.slide-fade-enter-active {
  transition: all 0.3s ease-in;
}
.slide-fade-leave-active {
  transition: all 0.3s ease-in;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(-25px);
  opacity: 0;
}
</style>

<script>
// @ is an alias to /src
import ParaSqlLink from '@/components/ParaSqlLink'
import Header from '@/components/Header.vue'
import get from 'lodash/get'

export default {
  name: 'home',
  data () {
    return {
      menu: {
        show: true
      }
    }
  },
  computed: {
    items () {
      let is_admin = get(this.$store.state, 'user.user.is_admin', false)
      return this.$store.state.menu.items.warehouse.filter(el => {
        if (el.requireAdmin) {
          return is_admin === 1
        } else {
          return true
        }
      })
    },
    username () {
      return get(this.$store.state, 'user.user.username', 'Unknown')
    },
    menuVisibility () {
      return this.$store.state.menu.visible
    }
  },
  methods: {
    toogleMenu () {
      this.$store.dispatch('menu/toogleVisibility')
    },
    showMenu () {
      this.$store.dispatch('menu/show')
    }
  },
  components: {
    Header,
    ParaSqlLink
  },
  mounted () {
    // this.$store.dispatch('user/initUserStoredState')
    this.showMenu()
  }
}
</script>
