<template>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden border-t border-gray-200">
          <table v-if="data.length > 0" class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <!--
                            `relative` is added here due to a weird bug in Safari that causes `sr-only` headings to introduce overflow on the body on mobile.
                          -->
                <th
                  v-for="(f, id) in fields"
                  :key="id"
                  scope="col"
                  class="relative px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                >
                  <span v-if="f.screenReader" class="sr-only">{{
                    f.screenReader
                  }}</span>
                  <span v-if="f.label">{{ f.label }}</span>
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr v-for="(d, i) in data" :key="i">
                <td
                  v-for="(f, j) in fields" :key="j"
                  :class="'px-6 py-4 whitespace-no-wrap text-sm leading-5' +(f.key?'font-medium text-gray-900':'')"
                  >
                  <span v-if="f.field">{{ d[f.field] }}</span>
                  <slot v-if="f.slot" :name="f.slot" :part="d" :row="i" />
                </td>
              </tr>
            </tbody>
          </table>

        <slot v-else name="empty">
          <div class="bg-gray-50">
              <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-24 lg:px-8 lg:flex lg:items-center lg:justify-between">
                  <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 md:text-4xl md:leading-10">
                  <span class="block">There is no data available</span>
                  <!-- <span class="block text-blue-600">Use the form above to make one and move material to a new location</span> -->
                  </h2>
              </div>
          </div>
        </slot>

        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    data: Array,
    fields: Array,
  }
}
</script>