<template>
    <div>
        <Login v-if="!user"></Login>
        <slot v-else></slot>
    </div>
</template>
<script>
import Login from '@/views/Login.vue'
export default {
    components:{
        Login,
    },
    computed:{
        user(){
          return this.$store.state.user.user
        },
    }
}
</script>