<template>
  <div class="relative">
    <button
      @click="isOpen = !isOpen"
      class="bg-gray-100 outline-none hover:bg-gray-400 z-20 p-2 mr-1 transition duration-200 ease-in-out hover:bg-gray-400"
    >...</button>
    <button v-if="isOpen" @click="isOpen = false" class="z-10 fixed inset-0 h-full w-full bg-black opacity-25 cursor-default"></button>
    <div v-if="isOpen" class="absolute z-30 right-0 bg-white py-1 w-48 shadow-md">
      <slot>
        <a
          href="#"
          class="block m-0 px-2 py-2 text-gray-800 hover:text-white hover:bg-blue-700"
        >Sign out</a>
      </slot>
    </div>
  </div>
</template>
<script>
export default {
    data(){
        return {
            isOpen: false,
        }
    },
    created(){
        const handleEscape = (e)=>{
            if(e.key === 'Esc' || e.key === 'Escape'){
                this.isOpen = false
            }
        }

        document.addEventListener('keydown', handleEscape)

        this.$once('hook:beforeDestroy', ()=>{
            document.removeEventListener('keydown', handleEscape)
        })
    },
}
</script>