<template>
  <p ref="editable" contenteditable v-on="listeners">{{value}}</p>
</template>

<script>
export default {
  name:'Editable',
  props: {
    value: {
      type: String,
      default: '',
    },
  },
  computed: {
    listeners() {
      return { ...this.$listeners, input: this.onInput };
    },
  },
  watch:{
    value(){
      this.$refs.editable.innerText = this.value  
    }
  },
  mounted() {
    this.$refs.editable.innerText = this.value;
  },
  methods: {
    onInput(e) {
      this.$emit('input', e.target.innerText);
    },
  },
};
</script>