<template>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>NovaLink PIX</strong> by
          <a class="text-blue-500" href="//novalinkmx.com/">NovaLink</a>. All rights reserved.
        </p>
      </div>
    </footer>
</template>

<script>
export default {}
</script>
