<template>
  <iframe style="min-height:1360px;" frameborder="0" name="parasqlcontainer"></iframe>
</template>

<script>
export default {
  name: 'parasqllink',
  data () {
    return {}
  },
  props: ['parasql', 'user'],
  methods: {
    linkActive () {
      this.$emit('hideSideMenu')
      this.$store.dispatch('menu/hide', false)
    }
  }
}
// {
//   appId: '16cdf747-4b46-4250-9ac1-365ba275e9a0',
//   options: [
//     {name: 'username'}
//   ],
//   name:'Receiving',
//   kind:'ParaSqlLink',
//   size: {
//     width: 1360,
//     heigth: 790,
//   }
// }
</script>
