<template>
  <div class="hero is-paddingless">
    <iframe
      :style="'min-width:'+currentScreen.size.width+'px;min-height:'+currentScreen.size.height+'px;'"
      name="parasqlcontainer"
      :src="'https://www.parasql.com/public?appId='+currentScreen.appId+'&name='+username+'&novalink_session='+username"
      v-if="currentScreen"
    ></iframe>
  </div>
</template>

<script>
import get from 'lodash/get'
import { log } from '@/libs/log'

export default {
  name: 'FrameAppContainer',
  data() {
    return {
      currentScreen: '',
    }
  },
  watch: {
    '$route'(/*to, from*/) {
      log('route changed')
      this.setCurrentRoute()
    }
  },
  computed: {
    username() {
      return get(this.$store.state, 'user.user.username', 'Unknown')
    },
  },
  props: [],
  methods: {
    setCurrentRoute() {
      let currenDivisions = get(this.$store.state, 'menu.items')

      //    v-- I desctructure the array, to use only the first
      return [this.currentScreen] = Object.keys(currenDivisions) // Return the keys in the object: Dahh!
        .map(d => currenDivisions[d]) // so I can get an ARRAY of object I can iterate with
        .flat() // I remove one level ([[[],[]]] => [[],[]])
        .map(i => {
          return i.childs.filter(el => { // But I need only the one with the correct route
            return el.route == `parasql/${this.$route.params.appName}`
          })
        }).flat() // and again flatten the result, to have easy access
      // continue in line 36
    }
  },
  mounted() {
    this.setCurrentRoute()
  }
}
</script>
