<template>
  <header class="bg-white shadow">
    <div
      class="max-w-7xl mx-auto px-2 sm:px-4 lg:divide-y lg:divide-gray-200 lg:px-8"
    >
      <div class="relative h-16 flex justify-between">
        <div class="relative z-10 px-2 flex lg:px-0">
          <a href="#/" class="flex-shrink-0 flex items-center">
            <NovaLinkLogo class="h-8 w-auto block" />
          </a>
        </div>
        <!-- 
      <div class="relative z-0 flex-1 px-2 flex items-center justify-center sm:absolute sm:inset-0">
        <div class="max-w-xs w-full">
          <label for="search" class="sr-only">Search</label>
          <div class="relative">
            <div class="pointer-events-none absolute inset-y-0 left-0 pl-3 flex items-center">
              <Icon name="search" class="flex-shrink-0 h-5 w-5 text-gray-400" />
            </div>
            <input id="search" class="block w-full bg-white border border-gray-300 rounded-md py-2 pl-10 pr-3 text-sm leading-5 placeholder-gray-500 focus:outline-none focus:text-gray-900 focus:placeholder-gray-400 focus:border-blue-300 focus:shadow-outline-blue sm:text-sm transition duration-150 ease-in-out" placeholder="Search" type="search">
          </div>
        </div>
      </div> -->
        <div class="relative z-10 flex items-center lg:hidden">
          <!-- Mobile menu button -->
          <button
            @click="open = !open"
            class="rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out"
            aria-expanded="false"
          >
            <span class="sr-only">Open menu</span>
            <Icon v-if="!open" name="menu" class="h-6 w-6" />
            <Icon v-if="open" name="x" class="h-6 w-6" />
          </button>
        </div>
        <div class="hidden lg:relative lg:z-10 lg:ml-4 lg:flex lg:items-center">
          <button
            class="flex-shrink-0 border-2 border-transparent rounded-full p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out"
          >
            <span class="sr-only">Notifications</span>
            <Icon name="bell" class="h-6 w-6" />
          </button>
          <a
            href="#/"
            class="flex-shrink-0 border-2 border-transparent rounded-full p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out"
          >
            <span class="sr-only">Change current company</span>
            <!-- <span>{{selectedCompany.name}}</span> -->
            <span>{{ selectedCompany.name }}</span>
          </a>

          <!-- Profile dropdown -->
          <UserProfileDropdown />
        </div>
      </div>
      <nav class="hidden lg:py-2 lg:flex lg:space-x-8" aria-label="Global">
        <a
          v-for="(link, i) in links"
          :key="i"
          :href="link.ref"
          class="rounded-md py-2 px-3 inline-flex items-center text-sm leading-5 font-medium text-gray-900 hover:bg-gray-50 hover:text-gray-900 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out"
        >
          {{ link.title }}
        </a>
      </nav>
    </div>

    <!--
    Mobile menu, toggle classes based on menu state.

    Menu open: "block", Menu closed: "hidden"
  -->
    <nav v-if="open" class="lg:hidden" aria-label="Global">
      <div class="pt-2 pb-3 px-2 space-y-1">
        <a
          v-for="(link, i) in links"
          :key="i"
          :href="link.ref"
          class="block rounded-md py-2 px-3 text-base leading-6 font-medium text-gray-900 hover:bg-gray-50 hover:text-gray-900 focus:outline-none focus:bg-gray-50 focus:text-gray-900 transition duration-150 ease-in-out"
        >
          {{ link.title }}
        </a>
      </div>
      <div class="border-t border-gray-200 pt-4 pb-3">
        <div v-if="false" class="px-4 flex items-center">
          <div class="flex-shrink-0">
            <img
              class="h-10 w-10 rounded-full"
              src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=80"
              alt=""
            />
          </div>
          <div class="ml-3">
            <div class="text-base font-medium leading-6 text-gray-800">
              Lisa Marie
            </div>
            <div class="text-sm font-medium leading-5 text-gray-500">
              lisamarie@example.com
            </div>
          </div>
          <button
            class="ml-auto flex-shrink-0 border-2 border-transparent rounded-full p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:text-gray-500 focus:bg-gray-100 transition duration-150 ease-in-out"
          >
            <span class="sr-only">Notifications</span>
            <Icon name="bell" class="h-6 w-6" />
          </button>
        </div>
        <div class="mt-3 px-2 space-y-1">
          <a
            v-if="false"
            href="#"
            class="block rounded-md py-2 px-3 text-base font-medium text-gray-500 hover:bg-gray-50 hover:text-gray-900 focus:outline-none focus:bg-gray-50 focus:text-gray-900 transition duration-150 ease-in-out"
            >Your Profile</a
          >

          <a
            v-if="false"
            href="#"
            class="block rounded-md py-2 px-3 text-base font-medium text-gray-500 hover:bg-gray-50 hover:text-gray-900 focus:outline-none focus:bg-gray-50 focus:text-gray-900 transition duration-150 ease-in-out"
            >Settings</a
          >

          <button
            @click="logout()"
            type="button"
            class="text-left block w-full rounded-md py-2 px-3 text-base font-medium text-gray-500 hover:bg-gray-50 hover:text-gray-900 focus:outline-none focus:bg-gray-50 focus:text-gray-900 transition duration-150 ease-in-out"
          >
            Sign out
          </button>
        </div>
      </div>
    </nav>
  </header>
</template>



<script>
import get from 'lodash/get'
import Icon from '@/components/Icon.vue'
import NovaLinkLogo from '@/components/NovaLinkLogo.vue'
import UserProfileDropdown from './UserProfileDropdown.vue'

export default {
  components: {
    Icon,
    NovaLinkLogo,
    UserProfileDropdown,
  },
  data() {
    return {
      expandMenu: false,
      open: false,
    }
  },
  props: {
    menu: {
      default: true,
    }
  },
  computed: {
    links(){
      return [
        { title: 'Inventory', ref: '#/' +(this.$store.state.user.selectedCompany) },
        { title: 'Reports', ref: '#/reports' },
        { title: 'Parts', ref: '#/parts' },
      ]
    },
    username() {
      return get(this.$store.state, 'user.user.name', 'Unknown')
    },
    selectedCompany() {
      return this.$store.state.user.companies[this.$store.state.user.selectedCompany]
    }
  },
  methods: {
    logout() {
      this.$store.dispatch('user/destroyToken')
    }
  }
}
</script>
