<template>
  <svg
    stroke="currentColor"
    fill="none"
    :viewBox="viewBox"
  >
    <path
      v-for="(d,i) in paths"
      :key="i"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      :d="d"
    />
  </svg>
</template>

<script lang="ts">
import { icons } from './Icon/icons'

export default {
  name: 'Icon',
  inheritAttrs: false,
  props: {
    name: {
      type: String,
      default: 'empty',
      required: true,
    },
    size:{
        type: Number,
        default: 24,
    }
  },
  computed: {
    // Gets a CSS module class, e.g. iconCustomLogo
    customIconClass() {
      return this.$style['icon-custom-' + this.name]
    },
    viewBox() {
      return `0 0 ${this.size} ${this.size}`
    },
    paths() {
      if (!Object.keys(icons).includes(this.name)){
        throw Error(`${this.name} Does not exists`);
      }
      return icons[this.name].paths
    },
  },
  created(){
  }
}
</script>
