<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 997 240">
    <g fill="none" fill-rule="evenodd">
      <path
        d="M207.5 0C243.675 0 273 30.22 273 67.5S243.675 135 207.5 135 142 104.78 142 67.5 171.325 0 207.5 0zm0 8C176.848 8 152 34.64 152 67.5s24.848 59.5 55.5 59.5S263 100.36 263 67.5 238.152 8 207.5 8zM.958 2.035v131.054h10.06V18.182l90.806 114.907h8.436V2.035H100.1v112.3L11.019 2.035zM286.445 2.465l57.24 131.477h9.053L410.592 2.465H399.5l-50.98 118.693-50.43-118.693zM477.381 2.465l60.613 130.183h-11.538L510.03 96.535h-76.448l-16.2 36.113h-10.694L467.389 2.465h9.992zm-5.04 11.18L438.52 86.45h66.914l-33.094-72.804zM561.398 2.465v130.183h92.209v-21.081h-68.252V2.465z"
        fill="#095F70"
      />
      <path fill="#0A5F73" d="M677.385 2.465v130.183h23.169V2.465z" />
      <path
        fill="#0F5A6D"
        d="M734.271 2.465v130.183h23.034V41.716l71.01 90.932h19.709V2.465H825.28V91.17L755.992 2.465zM880.038 2.465v130.183h23.956V95.19l19.909-19.933 43.708 57.391h28.67l-55.855-73.875 53.96-56.308h-29.597l-60.795 63.82V2.465z"
      />
      <path fill="#F06721" d="M250 162v18.83h249V162z" />
      <path fill="#F6971F" d="M499 162v18.83h249V162z" />
      <path fill="#FFCA06" d="M748 162v18.83h249V162z" />
      <path fill="#EB2026" d="M1 162v18.83h249V162z" />
      <g>
        <path
          d="M2 211h21.9v4.008h-8.883v24.882h-4.029v-24.882H2zM606 211h21.9v4.008h-8.883v24.882h-4.029v-24.882H606zM896 211h21.95v4.016h-8.904v24.929h-4.038v-24.93H896z"
          fill="#656567"
        />
        <path
          d="M30 211v28.89h4.126v-13.05H48.58v13.05h3.86V211h-3.86v11.98H34.126V211zM259 211v28.945h4.267V226.87h14.948v13.075h3.991V211h-3.99v12.003h-14.95V211zM61 211v28.89h20.437v-3.95H65.185v-8.903H79.48v-4.09H65.185v-7.977h16.252V211zM132 211v28.89h20.437v-3.95h-16.252v-8.903h14.295v-4.09h-14.295v-7.977h16.252V211zM354 211v28.945h21.204v-3.958h-16.862v-8.92h14.832v-4.098h-14.832v-7.992h16.862V211zM524 211v28.945h4.342v-12.878h14.832v-4.098h-14.832v-8.11h16.862V211zM100 211v28.89h4.08v-22.037l16.385 22.037h3.687V211h-3.687v20.993L104.08 211zM460 211v28.89h4.08v-22.037l16.385 22.037h3.687V211h-3.687v20.993L464.08 211zM971 211v28.89h4.08v-22.037l16.385 22.037h3.687V211h-3.687v20.993L975.08 211zM706 211v28.945h4.232v-22.08l17.002 22.08h3.825V211h-3.825v21.033L710.232 211zM174.298 211l12.673 28.989-4.682-.05-3.131-7.516h-14.26l-3.51 7.566H157L170.05 211h4.248zm-2.158 3.869l-5.83 13.997h11.66l-5.83-13.997zM442.298 211l12.673 28.989-4.682-.05-3.131-7.516h-14.26l-3.51 7.566H425L438.05 211h4.248zm-2.158 3.869l-5.83 13.997h11.66l-5.83-13.997zM562.593 211l12.888 28.994-4.762-.049-3.184-7.518h-14.502l-3.57 7.567H545L558.272 211h4.32zm-2.196 3.87l-5.929 14h11.859l-5.93-14zM207.211 211c4.146 1.504 6.219 4.34 6.219 8.505 0 4.166-2.073 7.286-6.219 9.36l8.047 11.124-5.41-.05-7.75-11.073h-6.385v11.123l-4.713-.05V211zm-1.382 3.955h-10.975v9.998h10.975c2.466-.846 3.7-2.512 3.7-5 0-2.7-1.234-4.367-3.7-4.998zM341.211 211c4.146 1.504 6.219 4.34 6.219 8.505 0 4.166-2.073 7.286-6.219 9.36l8.047 11.124-5.41-.05-7.75-11.073h-6.385v11.123l-4.713-.05V211zm-1.382 3.955h-10.975v9.998h10.975c2.466-.846 3.7-2.512 3.7-5 0-2.7-1.234-4.367-3.7-4.998zM681.783 211c4.292 1.504 6.438 4.34 6.438 8.507s-2.146 7.288-6.438 9.362l8.331 11.125-5.6-.049-8.024-11.076h-6.61v11.125l-4.88-.049V211zm-1.431 3.955H668.99v10h11.362c2.553-.845 3.83-2.512 3.83-5 0-2.701-1.277-4.368-3.83-5zM233.834 232.123L231 235.27c4.282 3.119 8.142 4.678 11.58 4.678 5.156 0 9.691-3.93 9.691-8.203s-3.748-7.541-9.692-8.93c-5.943-1.39-5.68-2.48-5.879-4.835-.2-2.354 1.333-4.526 4.936-4.526 2.401 0 4.89 1.136 7.468 3.41l2.468-2.91c-3.266-2.636-6.548-3.954-9.848-3.954-4.95 0-9.138 2.686-9.138 7.98 0 5.294 5.355 7.968 9.993 9.026 4.64 1.057 5.944 2.434 5.944 4.739 0 2.305-1.417 4.315-5.944 4.524-3.018.14-5.933-1.243-8.745-4.146zM782.947 231.508L780 234.71c4.453 3.173 8.466 4.76 12.04 4.76 5.362 0 10.079-3.999 10.079-8.347 0-4.347-3.898-7.672-10.078-9.086-6.18-1.413-5.907-2.522-6.114-4.918-.207-2.395 1.386-4.605 5.132-4.605 2.498 0 5.086 1.156 7.766 3.47l2.566-2.962c-3.395-2.681-6.808-4.022-10.24-4.022-5.147 0-9.502 2.733-9.502 8.12 0 5.385 5.568 8.106 10.392 9.182 4.824 1.076 6.18 2.476 6.18 4.821 0 2.346-1.473 4.39-6.18 4.603-3.138.142-6.17-1.264-9.094-4.218zM303.5 210c8.008 0 14.5 6.716 14.5 15 0 8.284-6.492 15-14.5 15s-14.5-6.716-14.5-15c0-8.284 6.492-15 14.5-15zm0 4c-5.799 0-10.5 5.037-10.5 11.25s4.701 11.25 10.5 11.25 10.5-5.037 10.5-11.25S309.299 214 303.5 214zM822.5 210c8.008 0 14.5 6.716 14.5 15 0 8.284-6.492 15-14.5 15s-14.5-6.716-14.5-15c0-8.284 6.492-15 14.5-15zm0 4c-5.799 0-10.5 5.037-10.5 11.25s4.701 11.25 10.5 11.25 10.5-5.037 10.5-11.25S828.299 214 822.5 214zM949.5 210c8.008 0 14.5 6.716 14.5 15 0 8.284-6.492 15-14.5 15s-14.5-6.716-14.5-15c0-8.284 6.492-15 14.5-15zm0 4c-5.799 0-10.5 5.037-10.5 11.25s4.701 11.25 10.5 11.25 10.5-5.037 10.5-11.25S955.299 214 949.5 214zM393 211v28.945h4.408v-21.477l9.232 13.51 10.233-13.51v21.477h4.193V211h-4.193l-9.84 13.497L397.408 211zM492 210v19.816c.706 6.383 4.965 9.575 12.775 9.575 7.811 0 11.963-3.192 12.455-9.575V210h-4.234v19.403c0 4.426-2.74 6.639-8.22 6.639s-8.368-2.213-8.663-6.639V210H492zM633 211v19.414c.685 6.254 4.818 9.38 12.397 9.38 7.58 0 11.609-3.126 12.086-9.38V211h-4.109v19.01c0 4.335-2.659 6.503-7.977 6.503-5.318 0-8.12-2.168-8.406-6.504V211H633zM867 211v19.414c.685 6.254 4.818 9.38 12.397 9.38 7.58 0 11.609-3.126 12.086-9.38V211h-4.109v19.01c0 4.335-2.659 6.503-7.977 6.503-5.318 0-8.12-2.168-8.406-6.504V211H867zM695 211v28.945l4 .05V211zM591.5 210c4.476 0 8.479 2.098 11.138 5.396l-2.956 2.803c-1.924-2.56-4.874-4.199-8.182-4.199-5.799 0-10.5 5.037-10.5 11.25s4.701 11.25 10.5 11.25c3.258 0 6.17-1.59 8.096-4.086l2.892 2.374C599.83 237.979 595.893 240 591.5 240c-8.008 0-14.5-6.716-14.5-15 0-8.284 6.492-15 14.5-15zM843 211v28.945h21.204v-3.958h-17.155V211zM924 211v28.94l4 .049V211zM737 224.235c0 9.705 6.884 15.719 14.556 15.719 5.115 0 9.119-1.658 12.01-4.973v-11.933h-12.575v3.91h8.946v5.952c-1.493 2.068-4.287 3.102-8.38 3.102-6.142 0-10.495-4.754-10.495-11.54 0-6.785 5.527-11.486 10.494-11.486 3.312 0 6.236 1.238 8.773 3.714l2.854-3.272c-3.484-2.952-7.36-4.428-11.627-4.428-6.4 0-14.556 5.53-14.556 15.235z"
          fill="#626264"
        />
      </g>
    </g>
  </svg>
</template>
<script>
export default {
  name: 'NovaLinkLogoWithText'
}
</script>