<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 997 181">
    <g fill="none" fill-rule="evenodd">
      <path
        d="M207.5 0C243.675 0 273 30.22 273 67.5S243.675 135 207.5 135 142 104.78 142 67.5 171.325 0 207.5 0zm0 8C176.848 8 152 34.64 152 67.5s24.848 59.5 55.5 59.5S263 100.36 263 67.5 238.152 8 207.5 8zM.958 2.035v131.054h10.06V18.182l90.806 114.907h8.436V2.035H100.1v112.3L11.019 2.035zM286.445 2.465l57.24 131.477h9.053L410.592 2.465H399.5l-50.98 118.693-50.43-118.693zM477.381 2.465l60.613 130.183h-11.538L510.03 96.535h-76.448l-16.2 36.113h-10.694L467.389 2.465h9.992zm-5.04 11.18L438.52 86.45h66.914l-33.094-72.804zM561.398 2.465v130.183h92.209v-21.081h-68.252V2.465z"
        fill="#095F70"
      />
      <path fill="#0A5F73" d="M677.385 2.465v130.183h23.169V2.465z" />
      <path
        fill="#0F5A6D"
        d="M734.271 2.465v130.183h23.034V41.716l71.01 90.932h19.709V2.465H825.28V91.17L755.992 2.465zM880.038 2.465v130.183h23.956V95.19l19.909-19.933 43.708 57.391h28.67l-55.855-73.875 53.96-56.308h-29.597l-60.795 63.82V2.465z"
      />
      <path fill="#F06721" d="M250 162v18.83h249V162z" />
      <path fill="#F6971F" d="M499 162v18.83h249V162z" />
      <path fill="#FFCA06" d="M748 162v18.83h249V162z" />
      <path fill="#EB2026" d="M1 162v18.83h249V162z" />
    </g>
  </svg>
</template>
<script>
export default {
  name: 'NovaLinkLogo'
}
</script>