<template>
  <div>
    <Header></Header>
    <main class="max-w-7xl mx-auto pb-10 py-2 lg:py-4 lg:px-4">
      <slot/>
    </main>
  </div>
</template>

<script>
import Header from './Header.vue'


export default {
  components: {
    Header,
  }
}
</script>