<template>
  <div>
    <label :for="id" class="text-lg px-2">{{label}}</label>
    <div class="text-sm" v-if="helper">{{helper}}</div>
    <input
      :id="id"
      type="text"
      :placeholder="placeholder"
      :value="value"
      class="outline-none bg-gray-100 border-gray-400 border-b-2 w-full p-2 focus:border-blue-600"
    />
  </div>
</template>
<script>
export default {
  name: 'SimpleInput',
  data() {
    return {
      id: ''
    }
  },
  props: {
    label: String,
    helper: String,
    placeholder: String,
    value:String,
  },
  methods: {
    newRandomUUID() {
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (a) {
        var b = 16 * Math.random() | 0;
        return ('x' == a ? b : b & 3 | 8).toString(16)
      })
    }
  },
  mounted() {
    this.id = this.newRandomUUID()
  },
}
</script>