<template>
    <div class="">
        <nav class="flex flex-row pb-2">
            <button
             v-for="(tab,index) in tabs" :key="index"
             :class="classesFor(index)"
             @click="updateVisibility(index)"
             >{{tab}}</button>
        </nav>
        <section ref='tabShow'>
            <slot/>
        </section>
    </div>
</template>
<script>
export default {
    name:'SimpleTabs',
    data(){
        return {
            tabs:[],
            active:0,
            tabsAnchors:[],
        }
    },
    methods:{
        classesFor(index){
            return this.active == index
                ? 'w-48 pt-3 appearance-none text-center cursor-pointer outline-none pb-1 mr-2 border-solid border-b-2 border-blue-600'
                : 'w-48 pt-3 appearance-none text-center cursor-pointer outline-none pb-1 mr-2 border-solid border-b-2 hover:border-gray-600'
        },
        updateVisibility(visible){
            this.active = visible
            this.tabsAnchors.forEach(t => {
                t.classList.add('hidden')
            })
            this.tabsAnchors[visible].classList.remove('hidden')
        }
    },
    watch:{},
    props:{

    },
    mounted(){
        this.tabsAnchors = Array.from(this.$refs.tabShow.children)
        this.tabs = this.tabsAnchors.map(d=>d.attributes.title ? d.attributes.title.value : '' )
        this.updateVisibility(0)
    },
}
</script>