<template>
  <div class="border-t border-gray-200 px-4 flex items-center justify-between sm:px-0">
    <div class="w-0 flex-1 flex">
      <a
        v-for="l in page==1?[]:[page-1]"
        :class="{'bg-blue-600 text-white hover:text-white font-semibold': page == l}"
        :key="'a'+l"
        href="#"
        @click.prevent="$emit('change',l)"
        class="-mt-px border-t-2 border-transparent pt-4 pr-1 inline-flex items-center text-sm leading-5 font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-400 transition ease-in-out duration-150"
      >
        <svg class="mr-3 h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
          <path
            fill-rule="evenodd"
            d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
            clip-rule="evenodd"
          />
        </svg>
        Previous
      </a>
    </div>
    <a
      v-for="l in start"
      :class="{'-mt-px border-t-2 border-indigo-500 pt-4 px-4 inline-flex items-center text-sm leading-5 font-medium text-indigo-600 focus:outline-none focus:text-indigo-800 focus:border-indigo-700 transition ease-in-out duration-150': page == l,
                '-mt-px border-t-2 border-transparent pt-4 px-4 inline-flex items-center text-sm leading-5 font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-400 transition ease-in-out duration-150' : page != l}"
      :key="'b'+l"
      href="#"
      @click.prevent="$emit('change',l)"
    >{{l}}</a>
    <a
      v-for="l in middle"
      :class="{'-mt-px border-t-2 border-indigo-500 pt-4 px-4 inline-flex items-center text-sm leading-5 font-medium text-indigo-600 focus:outline-none focus:text-indigo-800 focus:border-indigo-700 transition ease-in-out duration-150': page == l,
                '-mt-px border-t-2 border-transparent pt-4 px-4 inline-flex items-center text-sm leading-5 font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-400 transition ease-in-out duration-150' : page != l}"
      :key="'c'+l"
      href="#"
      @click.prevent="$emit('change',l)"
    >{{l}}</a>
    <a
      v-for="l in endElements"
      :class="{'-mt-px border-t-2 border-indigo-500 pt-4 px-4 inline-flex items-center text-sm leading-5 font-medium text-indigo-600 focus:outline-none focus:text-indigo-800 focus:border-indigo-700 transition ease-in-out duration-150': page == l,
                '-mt-px border-t-2 border-transparent pt-4 px-4 inline-flex items-center text-sm leading-5 font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-400 transition ease-in-out duration-150' : page != l}"
      :key="'d'+l"
      href="#"
      @click.prevent="$emit('change',l)"
    >{{l}}</a>
    <div class="w-0 flex-1 flex justify-end">
      <a
        v-for="l in page==elements.length?[]:[page+1]"
        :class="{'-mt-px border-t-2 border-indigo-500 pt-4 px-4 inline-flex items-center text-sm leading-5 font-medium text-indigo-600 focus:outline-none focus:text-indigo-800 focus:border-indigo-700 transition ease-in-out duration-150': page == l,
                '-mt-px border-t-2 border-transparent pt-4 px-4 inline-flex items-center text-sm leading-5 font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-400 transition ease-in-out duration-150' : page != l}"
      :key="'f'+l"
        href="#"
        @click.prevent="$emit('change',l)"
        class="-mt-px border-t-2 border-transparent pt-4 pl-1 inline-flex items-center text-sm leading-5 font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-400 transition ease-in-out duration-150"
      >
        Next
        <svg class="ml-3 h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
          <path
            fill-rule="evenodd"
            d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    length: Number,
    pageSize: Number,
    page: Number,
  },
  computed: {
    elements() {
      return Array(Math.ceil(this.length / this.pageSize)).fill(0).map((e, i) => i + 1)
    },
    floor() {
      return Math.floor(this.elements.length / 2)
    },
    start() {
      let end = this.floor > 3
        ? 3
        : this.floor
      return this.elements.slice(0, end)
    },
    middle() {
      return this.elements.length > 6
        ? this.elements.length <= 6 ? []
          : this.page > 3 && this.page <= this.elements.length - 3 ? [this.page] : ['...']
        : []
    },
    endElements() {
      let end = this.floor > 3
        ? 3
        : this.floor
      return this.elements.slice(this.elements.length - end, this.elements.length)
    },
  },
}
</script>