<template>
  <div class="flex flex-col">
    <h1 class="text-2xl w-full bg-gray-200 p-3">{{title}}</h1>

    <div class="flex flex-row">
      <input
        @keyup="$emit('search_keyup',$event)"
        @change="$emit('search_keyup',$event)"
        class="p-3 border-solid w-64 flex-grow outline-none border-b-2 focus:border-blue-600"
        type="text"
        placeholder="Search"
        :value="search"
      />
      <slot name="buttons"></slot>
    </div>
    <div class="max-w-full overflow-x-auto">
      <table class="border-b-2 border-gray-200 table-fixed">
        <thead>
          <tr class="bg-gray-300">
            <th class="p-3" v-for="(col, i) in columns" :key="i">
              <span class="flex flex-row">
                <span class="truncate" :style="`width: ${col.size-3}px;`">
                  <abbr
                    :title="(typeof col == 'string'? col: col.label)"
                  >{{(typeof col == 'string'? col: col.label)}}</abbr>
                </span>
                <span
                  @mousedown="registerGlobalMouseDragEvent($event, col, i)"
                  style="cursor:col-resize;"
                  class="w-1 h-4 bg-white h-full"
                >&nbsp;</span>
              </span>
            </th>
            <th class="p-3"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="bg-gray-100 hover:bg-gray-200 transition duration-100 ease-in-out"
            v-for="entity in chunk(data, perPage)[page-1]"
            :key="entity.ID"
          >
            <td
              class="px-2 py-2 truncate"
              v-for="(col, i) in columns"
              :style="`max-width: ${col.size}px;`"
              :key="i"
            >{{get(entity, (typeof col == 'string'? col: col.field), '-')}}</td>
            <td class="px-2 py-2">
              <slot name="action" :entity="entity">
                <a
                  href="#"
                  @click.prevent="$emit('edit',entity)"
                  class="text-indigo-600 hover:text-indigo-900 focus:outline-none focus:underline"
                >Edit</a>
              </slot>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <SimplePagination
      :length="data.length"
      :pageSize="perPage"
      :page="page"
      @change="(c)=> page = c"
    ></SimplePagination>
  </div>
</template>

<script>
import { chunk, get } from 'lodash'
import SimplePagination from './SimplePagination.vue'

export default {
  name:'SimpleTable',
  components: {
    SimplePagination,
  },
  methods: {
    noop: () => { },
    chunk,
    get,
    registerGlobalMouseDragEvent(event, col, i) {
      let f = (e) => {
        e.preventDefault()
        e.stopPropagation()
        let next = 0 + parseFloat(this.columns[i].size) + e.movementX

        this.columns[i].size = next <= 3 ? 3 : next
      }
      let g = () => {
        document.removeEventListener('mousemove', f)
        document.removeEventListener('mouseup', g)
      }
      document.addEventListener('mousemove', f)
      document.addEventListener('mouseup', g)
    },
  },
  computed: {
    page: {
      get() { return this.currentPage },
      set(val) {
        // this.currentPage = val
        this.$emit('page-change', val)
      },
    }
  },
  props: {
    data: {
      type: Array,
      default: () => [],
    },
    columns: Array,
    title: String,
    search: String,
    perPage: {
      type: Number,
      default: () => 15,
    },
    currentPage: { type: Number, default: () => 1 }
  },
}
</script>