<template>
    <div class="control">
      <div class="select">
        <select name="company" id="select_company" class="select w-64" v-bind="value"  @change="$emit('change',$event.target.value)">
          <option
            v-for="company in companies"
            :key="company.parasql_id"
            :value="company.parasql_id"
          >{{company.name}}</option>
        </select>
      </div>
    </div>
</template>

<script>
import get from 'lodash/get'

export default {
  name: 'UserCompaniesDropdown',
  data() {
    return {
      company: null
    }
  },
  props: [
    'value'
  ],
  computed: {
    companies() {
      return get(this.$store.state, 'user.user.companies', 'Unknown')
    },
  },
  methods: {

  },
  mounted() {
    // console.log(this.$props)
    if (this.$store.state.user.user.companies.length === 0) {
      return null
    } else {
      this.company = this.$store.state.user.user.companies[0].parasql_id
    }
  },
}
</script>
