<template>
    <div class="flex-shrink-0 relative ml-4">
        <div>
        <button @click="open = !open" class="border-2 border-transparent rounded-full flex focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out" id="user-menu" aria-haspopup="true">
            <span class="sr-only">Open user menu</span>
            <Icon name="user" class="h-6 w-6 rounded-full text-gray-400" />
        </button>
        </div>
        <!--
        Profile dropdown panel, show/hide based on dropdown state.

        Entering: "transition ease-out duration-100"
            From: "transform opacity-0 scale-95"
            To: "transform opacity-100 scale-100"
        Leaving: "transition ease-in duration-75"
            From: "transform opacity-100 scale-100"
            To: "transform opacity-0 scale-95"
        -->

        <div v-if="open" @click="open=!open" class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg">
        <div v-if="open" class="bg-white rounded-md shadow-xs py-1" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
            <!-- <a href="#" class="block py-2 px-4 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" role="menuitem">Your Profile</a> -->

            <!-- <a href="#" class="block py-2 px-4 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" role="menuitem">Settings</a> -->

            <button @click.prevent="logout()" type="button" class="block w-full text-left py-2 px-4 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" role="menuitem">Sign out</button >
        </div>
        </div>
    </div>
</template>
<script>
import Icon from '@/components/Icon.vue'
export default {
    data(){
        return {
            open: false
        }
    },
    components:{
        Icon,
    },
    methods: {
    logout() {
      this.$store.dispatch('user/destroyToken')
    }
  }
}
</script>