<template>
  <div class="">
    <nav class="flex justify-end">
      <a
        :href="`#/${$store.state.user.selectedCompany}/add_inventory`"
        class="flex items-center px-3 py-2 font-medium text-sm leading-5 rounded-md text-gray-600 hover:text-gray-800 focus:outline-none focus:text-gray-800 focus:bg-gray-200 hover:bg-gray-200"
        ><Icon name="download" class="h-4 w-4 text-gray-500 mr-1" />
        Add
      </a>
      <a
        :href="`#/${$store.state.user.selectedCompany}/withraw_inventory`"
        class="flex items-center ml-4 px-3 py-2 font-medium text-sm leading-5 rounded-md text-gray-600 hover:text-gray-800 focus:outline-none focus:text-gray-800 focus:bg-gray-200 hover:bg-gray-200"
        ><Icon name="upload" class="h-4 w-4 text-gray-500 mr-1" />
        Withraw
      </a>
      <a
        :href="`#/${$store.state.user.selectedCompany}/move_inventory`"
        class="flex items-center ml-4 px-3 py-2 font-medium text-sm leading-5 rounded-md text-gray-600 hover:text-gray-800 focus:outline-none focus:text-gray-800 focus:bg-gray-200 hover:bg-gray-200"
        aria-current="page"
        ><Icon name="switch-horizontal" class="h-4 w-4 text-gray-500 mr-1" />
        Move
      </a>
      <button
        type="button"
        @click="$emit('refresh')"
        class="flex items-center ml-4 px-3 py-2 font-medium text-sm leading-5 rounded-md text-gray-600 hover:text-gray-800 focus:outline-none focus:text-gray-800 focus:bg-gray-200 hover:bg-gray-200"
        aria-current="page"
      > <Icon name="refresh" class="h-4 w-4 text-gray-500 mr-1" />
        Refresh
      </button>
    </nav>
  </div>
</template>
<script>
import Icon from '@/components/Icon.vue'
export default {
  components: {
    Icon,
  },
  props: {
    options: {
      type: Array,
      default: () => []
    },
  }
}
</script>