<template>
  <div class="max-w-full overflow-x-auto">
    <table class="border-b-2 border-gray-200 table-fixed">
      <thead>
        <tr class="bg-gray-300">
          <th v-if="selectable" class="p-2" style>
            <input type="checkbox" />
          </th>
          <th
            class="py-2 px-3 text-center"
            v-for="(col, i) in columns"
            :key="i"
            :style="col.size ?`width: ${col.size}px;`:''"
          >
            <span class="flex flex-row">
              <span :class="col.size?'truncate':''" :style="`width: ${col.size-3}px;`">
                <abbr
                  :title="(typeof col == 'string'? col: col.label)"
                >{{(typeof col == 'string'? col: col.label)}}</abbr>
              </span>
              <span
                v-if="!!col.size"
                @mousedown="registerGlobalMouseDragEvent($event, col, i)"
                style="cursor:col-resize;"
                class="w-1 h-full border-r border-l border-solid hover:border-black border-gray-200"
              >&nbsp;</span>
            </span>
          </th>
          <!-- <th class></th> -->
        </tr>
      </thead>
      <tbody class>
        <tr
          class="bg-white hover:bg-gray-100 transition duration-100 ease-in-out border-b border-gray-100"
          v-for="entity in data"
          :key="entity.ID"
        >
          <td v-if="selectable" class="p-2">
            <input type="checkbox" />
          </td>
          <td
            class="px-2 py-2 truncate"
            v-for="(col, i) in columns"
            :style="col.size ? `max-width: ${col.size}px;` : ''"
            :key="i"
          >
            <component
              :is="`cell-${col.cell}`"
              :attrs="col.attrs"
              :entity="entity"
            >{{get(entity, (typeof col == 'string'? col: col.field), '-')}}</component>
          </td>
          <!-- <td class="px-2 py-2">
            <slot name="action" :entity="entity">
                        <TableAction
                          href="#"
                          @click.prevent="p => moreInfoPart = p"
                          class="text-indigo-600 hover:text-indigo-900 focus:outline-none focus:underline"
                        >More</a>
            </slot>
          </td>-->
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import { get } from 'lodash'
import { parse, replace } from '@/libs/parser/parser.js'


export default {
  name: 'Table',
  components: {
    'cell-currency': {
      props: { decimals: { type: Number, default: 2, }, currency: { type: String, default: '$' } },
      render: function (h) {
        return h('div', { class: 'text-right w-full truncate' }, [this.currency, parseFloat(this.$slots.default[0].text).toFixed(this.decimals)])
      }
    },
    'cell-numeric': {
      props: { decimals: { type: Number, default: 2, }, },
      render: function (h) {
        return h('div', { class: 'text-right w-full' }, [parseFloat(this.$slots.default[0].text).toFixed(this.decimals)])
      }
    },
    'cell-boolean': {
      props: {},
      render: function (h) {
        return h('div', { class: 'text-right w-full' }, [this.currency, this.$slots.default])
      }
    },
    'cell-text': {
      props: {},
      render: function () {
        return this.$slots.default
      }
    },
    'cell-text-key': {
      props: { attrs: { default: () => { } }, entity: { default: {} } },
      render: function (h) {
        return h('a', { attrs: { href: this.href, class: 'text-blue-600' } }, [this.$slots.default])
      },
      data() {
        return {
          replacer: null
        }
      },
      methods: {
        parse,
        replace,
      },
      computed: {
        href() {
          // let t = !!this.entity.redirect
          return this.replace(this.replacer, this.entity)
        }
      },
      created() {
        this.replacer = this.parse(this.attrs.redirect)
      },
    },
    'cell-view-link': {
      props: { attrs: { default: () => { } }, entity: { default: {} } },
      render: function (h) {
        return h('a', { attrs: { href: this.href, class: 'text-blue-600' } },
          [
            h('Icon', {
              attrs: {
                name: 'cheveron-right',
              },
              class: 'h-5 w-5 text-gray-500'
            }
            )
          ]
        )      },
      components: {
        Icon: () => import('@/components/Icon.vue')
      },
      data() {
        return {
          replacer: null
        }
      },
      methods: {
        parse,
        replace,
      },
      computed: {
        href() {
          return this.replace(this.replacer, this.entity)
        }
      },
      created() {
        this.replacer = this.parse(this.attrs.redirect)
      },
    },
    Icon: () => import('@/components/Icon.vue')
  },
  props: {
    data: {
      type: Array,
      default: () => [],
    },
    columns: {
      type: Array,
      default: () => [],
    },
    selectable: {
      default: false,
    }
  },
  methods: {
    get,
    registerGlobalMouseDragEvent(event, col, i) {
      let f = (e) => {
        e.preventDefault()
        e.stopPropagation()
        let next = 0 + parseFloat(this.columns[i].size) + e.movementX

        this.columns[i].size = next <= 3 ? 3 : next
      }
      let g = () => {
        document.removeEventListener('mousemove', f)
        document.removeEventListener('mouseup', g)
      }
      document.addEventListener('mousemove', f)
      document.addEventListener('mouseup', g)
    },
  }
}
</script>