<template>
  <div class="overflow-hidden">
    <div class="bg-gray-50 px-2 py-3 border-b border-gray-100 sm:px-6">
      <h3 class="text-xl leading-6 text-gray-900">{{object._props.title}}</h3>
    </div>
    <div class="px-4 py-5 sm:px-6 lg:flex lg:items-center lg:justify-between">
      <div class="flex-1 min-w-0">
        <h2
          class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate"
        >{{get(data, object._props.attrs.heading.field,'-')}}</h2>
      </div>
      <div class="mt-5 flex lg:mt-0 lg:ml-4">
        <span class>
          <input
            @keyup.esc="filter=''"
            class="appearance-none bg-white p-1 text-base block w-full border border-gray-300 rounded-sm shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
            type="text"
            placeholder="Search for field"
            v-model="filter"
          />
        </span>
      </div>
    </div>
    <div class="px-4 py-5 sm:px-6">
      <dl class="grid grid-cols-1 gap-x-2 row-gap-4 sm:grid-cols-2 md:grid-cols-4 xl:grid-cols-6">
        <div
          :class="get(field,'cols', 1) === 2 ? 'col-span-1 sm:col-span-2' : 'col-span-1'"
          class="p-1"
          :key="i"
          v-for="(field, i) in object._props.attrs.fields"
        >
          <dd
            class="text-sm leading-5 font-medium text-gray-500"
            :class="filter!=''&&field.label.toLowerCase().includes(filter)?'bg-yellow-200':'bg-white'"
          >{{field.label}}</dd>
          <dt v-if="field.cell==='text'" class="mt-1 leading-5 text-gray-900 truncate">{{get(data, field.field,'-')}}</dt>
          <dt v-else-if="field.cell==='currency'" class="mt-1 leading-5 text-gray-900 truncate">${{get(data, field.field,'-')}}</dt>
          <dt v-else-if="field.cell==='file-link'" class="mt-1 leading-5 text-gray-900 truncate">
            <a target="_blank" class="text-blue-500" :href="field.urlMask.replace(field.search, get(data, field.field, '') )">{{get(data, field.field,'-')}}</a>
            </dt>
        </div>
      </dl>
    </div>
  </div>
</template>
<script>
import { get } from 'lodash'

export default {
  name: 'ObjectReview',
  components: {
  },
  props: {
    object: {
      default: () => ({
        title: 'untitled',
        fields: [],
      })
    },
    data: {
      default: () => ([])
    }
  },
  data() {
    return {
      filter: ''
    }
  },
  methods: {
    get,
  }
}
</script>