<template>
  <div>
    <div v-if="!company_id" class="py-14">
      <div
        class="pb-5 border-b border-gray-200 space-y-3 sm:flex sm:items-center sm:justify-between sm:space-x-4 sm:space-y-0"
      >
        <h3 class="text-lg leading-6 font-medium text-gray-900">Your available companies</h3>
        <div>
          <label for="search_candidate" class="sr-only">Search</label>
          <div class="flex rounded-md shadow-sm">
            <div class="relative flex-grow focus-within:z-10">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                  <path
                    fill-rule="evenodd"
                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <input
                id="search_candidate"
                @keyup.esc="filterCompanyName = ''"
                v-model="filterCompanyName"
                class="form-input w-full rounded-sm pl-10 transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                placeholder="Search"
              />
            </div>
          </div>
        </div>
      </div>

      <h2
        class="text-gray-800 text-md font-medium tracking-wide pt-4"
      >Selecciona una compañia para continuar</h2>
      <ul class="mt-3 grid grid-cols-1 gap-5 sm:gap-6 sm:grid-cols-2 lg:grid-cols-4">
        <li
          :key="company.id"
          v-for="company in companies"
          class="col-span-1 flex shadow-sm rounded-md"
        >
          <a @click.prevent="company_id = company.id" href="#/" class="flex-1 flex">
            <div
              class="h-12 flex-shrink-0 flex items-center justify-center w-16 bg-green-400 text-white text-sm leading-5 font-bold rounded-l-md"
            >{{company.prefix}}</div>
            <div
              class="flex-1 flex items-center justify-between border-t border-r border-b border-gray-200 bg-white rounded-r-md truncate"
            >
              <div class="flex-1 px-4 py-2 text-sm leading-5 truncate">
                <span
                  href="#"
                  class="text-gray-900 font-medium hover:text-gray-600 transition ease-in-out duration-150"
                >{{company.name}}</span>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div v-else>
      <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
        <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-no-wrap">
          <div class="ml-4 mt-4">
            <h3
              class="text-2xl leading-6 tracking-wider font-semibold text-gray-900"
              v-if="company_id"
            >{{companies.filter(d => d.id == company_id)[0].name}}</h3>
          </div>
          <div class="ml-4 mt-4 flex-shrink-0">
            <span class="inline-flex rounded-md shadow-sm">
              <button
                @click.prevent="company_id = null"
                type="button"
                class="inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:text-gray-800 active:bg-gray-50 transition duration-150 ease-in-out"
              >Cambiar cliente</button>
            </span>
          </div>
        </div>
      </div>

      <slot />
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      loading: false,
      filterCompanyName: '',
    }
  },
  props: {
    isActive: {
      type: Boolean,
      default: false,
    }
  },
  computed: {
    company_id: {
      get() { return this.$store.state.user.user.company_id },
      set(c) {
        this.$store.dispatch('user/setCompanyId', c)
        this.$emit('change')
      }
    },
    companies() {
      let companies = this.$store.state.user.user.companies
      let filtered = this.filterCompanyName === ''
        ? companies
        : companies.slice().filter(c => {
            return c.name.toLowerCase().includes(this.filterCompanyName)
          })
      return filtered.map(r => {
        return {
          id: r.parasql_id,
          name: r.name,
          active: r.active,
          prefix: r.prefix,
        }
      })
    }
  },
}
</script>