<template>
  <div class="container">
    <Header :menu="false"></Header>
    <CompanyProvider @change="loadInventory">
    <div class="columns">
      <div class="column">
        <b-tabs position="is-centered" class="block" v-model="activeTab">
          <b-tab-item label="Inventario actual">
            <div class="columns">
              <div class="column">
                <b-field label="Part search">
                  <b-input
                    placeholder="Part number or description"
                    v-model="search"
                    @keyup.native.esc="search=''"
                  ></b-input>
                </b-field>
                <b-table
                  :data="searchResults"
                  :narrowed="true"
                  :paginated="true"
                  :per-page="15"
                  :loading="partsAreLoading"
                >
                  <template slot="empty">
                    <section class="section">
                      <div class="content has-text-grey has-text-centered">
                        <p>No hay inventario para mostrar, Agrega numeros de parte para poderles cargar inventario.</p>
                      </div>
                    </section>
                  </template>

                  <template slot-scope="props">
                    <b-table-column field="part" label="Part">{{props.row.part}}</b-table-column>
                    <b-table-column
                      field="total_inventory"
                      label="Inventory"
                      numeric
                    >{{props.row.total_inventory}}</b-table-column>
                    <b-table-column
                      field="total_inventory"
                      label="UOM"
                    >{{props.row.unit_of_measure_us}}</b-table-column>
                    <b-table-column
                      field="description"
                      label="Description"
                    >{{props.row.description}}</b-table-column>
                    <b-table-column field="part_type" label="Part Type">{{props.row.part_type}}</b-table-column>
                    <b-table-column
                      field="manufacturer"
                      label="Manufacturer"
                    >{{props.row.manufacturer}}</b-table-column>
                    <b-table-column label="Actions">
                      <!-- <button class="button is-small is-light" @click.prevent="onEdit(props.row)">
                        <b-icon icon="edit" size="is-small"></b-icon>
                      </button>-->
                      <button
                        class="button is-small is-light"
                        @click.prevent="loadMovements(props.row)"
                      >Movimientos</button>
                    </b-table-column>
                  </template>

                  <template slot="bottom-left">
                    <b-field grouped>
                      <p class="control">
                        <a
                          class="button is-info"
                          :href="'/inventory/download-inventory/'+company_id"
                        >Download Inventory</a>
                      </p>
                      <p class="control">
                        <button
                          @click="loadInventory"
                          class="button"
                        >Actualizar</button>
                      </p>
                    </b-field>
                  </template>
                </b-table>
              </div>
            </div>
          </b-tab-item>
          <b-tab-item label="Agregar inventario" :disabled="outTransactions.length>0 || !isClerk">
            <!--
            +-+-+-+ +-+-+-+-+-+-+-+-+-+
            |A|d|d| |I|n|v|e|n|t|o|r|y|
            +-+-+-+ +-+-+-+-+-+-+-+-+-+
            -->
            <AddInventory
              v-if="activeTab===1"
              :parts="parts"
              @change-transaction-content="(val) => {inTransactions = val}"
              @transaction-commited="() => {loadInventory()}"
            ></AddInventory>
          </b-tab-item>
          <b-tab-item label="Sacar inventario" :disabled="inTransactions.length>0 || !isClerk">
            <!-- 
            +-+-+-+-+-+-+ +-+-+-+-+-+-+-+-+-+
            |R|e|m|o|v|e| |I|n|v|e|n|t|o|r|y|
            +-+-+-+-+-+-+ +-+-+-+-+-+-+-+-+-+
            -->
            <RemoveInventory
              v-if="activeTab===2"
              :parts="parts"
              @change-transaction-content="(val) => {outTransactions = val}"
              @transaction-commited="() => {loadInventory()}"
            ></RemoveInventory>
          </b-tab-item>
          <b-tab-item label="Movimientos">
            <!-- 
            +-+-+-+-+ +-+-+-+ +-+-+-+-+-+
            |I|n|'|s| |a|n|d| |O|u|t|'|s|
            +-+-+-+-+ +-+-+-+ +-+-+-+-+-+
            -->
            <div class="columns">
              <div class="column">
                <section class="hero is-dark">
                  <div class="hero-body">
                    <div class="container">
                      <h1 class="title">Part movements report</h1>
                    </div>
                  </div>
                </section>
                <hr />
                <form action="#/" class="form">
                  <b-field grouped>
                    <b-field label="Part number" expanded>
                      <b-autocomplete
                        expanded
                        v-model="movementsLookup"
                        :data="movementsFilteredValues"
                        placeholder="Part number"
                        :keep-first="true"
                        field="part"
                        @select="option => loadMovements(option)"
                      >
                        <template slot="empty">No results found</template>
                      </b-autocomplete>
                    </b-field>
                    <b-field label="Current inventory">
                      <b-input :value="get(selectedPartForMovements,'total_inventory',0)" disabled></b-input>
                    </b-field>
                  </b-field>
                </form>
                <b-table
                  :data="partMovements"
                  :narrowed="true"
                  :per-page="20"
                  :loading="partsAreLoading"
                  default-sort="created_at"
                  default-sort-direction
                >
                  <template slot="empty">
                    <section class="section">
                      <div class="content text-gray-700 text-2xl has-text-centered">
                        <p>Selecciona el numero de parte de la lista para ver los movimientos que se han realizado con ese numero.</p>
                      </div>
                    </section>
                  </template>
                  <template slot-scope="props">
                    <!-- <b-table-column field="part" label="Part">{{ props.row.part }}</b-table-column> -->
                    <b-table-column sortable field="in" label="In">{{ props.row.in }}</b-table-column>
                    <b-table-column sortable field="out" label="Out">{{ props.row.out }}</b-table-column>
                    <b-table-column
                      sortable
                      field="location"
                      label="Location"
                    >{{ props.row.location }}</b-table-column>
                    <b-table-column
                      sortable
                      field="user.name"
                      label="User"
                    >{{ props.row.user.name }}</b-table-column>
                    <b-table-column
                      sortable
                      field="created_at"
                      label="Transaction date"
                    >{{ props.row.created_at }}</b-table-column>
                    <b-table-column
                      sortable
                      field="transaction.cute_ticket"
                      label="Orden de trabajo"
                    >{{ get(props.row, 'transaction.cute_ticket', '-') }}</b-table-column>
                    <b-table-column
                      sortable
                      field="transaction.transaction_id"
                      label="Transaccion de origen"
                    >{{ get(props.row, 'transaction.transaction_id', '-') }}</b-table-column>
                    <b-table-column
                      sortable
                      field="transaction.reason"
                      label="Comentarios"
                    >{{ get(props.row, 'transaction.reason', '-') }}</b-table-column>
                    <!-- <b-table-column label="Actions">
                      <button
                        class="button is-small is-danger"
                        @click.prevent="deleteRowFromOutInventoryTable(props)"
                      >delete</button>
                    </b-table-column>-->
                  </template>
                  <template slot="footer" v-if="partMovements.length != 0">
                    <th class="is-hidden-mobile">
                      <div class="th-wrap">{{partMovements.map(x=>x.in).reduce((a,b)=>a+b ,0)}}</div>
                    </th>
                    <th class="is-hidden-mobile">
                      <div class="th-wrap">{{partMovements.map(x=>x.out).reduce((a,b)=>a+b ,0)}}</div>
                    </th>
                    <th class="is-hidden-mobile">
                      <div class="th-wrap"></div>
                    </th>
                    <th class="is-hidden-mobile">
                      <div class="th-wrap"></div>
                    </th>
                    <th class="is-hidden-mobile">
                      <div class="th-wrap"></div>
                    </th>
                    <th class="is-hidden-mobile">
                      <div class="th-wrap"></div>
                    </th>
                    <th class="is-hidden-mobile">
                      <div class="th-wrap"></div>
                    </th>
                    <th class="is-hidden-mobile">
                      <div class="th-wrap"></div>
                    </th>
                  </template>
                </b-table>
              </div>
            </div>
          </b-tab-item>
          <b-tab-item :visible="isPartAdministrator" label="Administracion de partes">
            <PartManager v-if="isPartAdministrator && activeTab === 4"></PartManager>
          </b-tab-item>
        </b-tabs>
      </div>
    </div>
    </CompanyProvider>
    <Footer></Footer>
  </div>
</template>

<style>
</style>

<script>
import Fuse from 'fuse.js';
import get from 'lodash/get';
import { nest } from 'd3-collection';
import Header from '@/components/Header.vue';
import axios from 'axios'
import Footer from '@/components/Footer';
import CompanyProvider from './CompanyProvider'

let options = {
  shouldSort: true,
  // includeMatches: true,
  threshold: 0.6,
  location: 0,
  distance: 100,
  maxPatternLength: 32,
  minMatchCharLength: 3,
  keys: [
    {
      name: 'part',
      weight: 0.8
    },
    {
      name: 'description',
      weight: 0.2
    }
  ]
};

export default {
  name: 'home',
  data() {
    return {
      company:null,
      activeTab: 0,
      partsAreLoading: true,
      parts: [],
      partMovements: [],
      fuse: null,
      search: '',
      addLocation: '',
      removeLocation: '',
      selectedPartForMovements: null,
      movementsLookup: '',
      inTransactions: [],
      outTransactions: [],
      commitingTransaction: false,
      status: 'waiting',
      errorMessage: '',
    };
  },
  computed: {
    company_id(){
      return this.$store.state.user.user.company_id
    },
    movementsFilteredValues() {
      return this.parts.filter(option => {
        return (
          option.part
            .toString()
            .toLowerCase()
            .indexOf(this.movementsLookup.toLowerCase()) >= 0
        );
      });
    },
    searchResults() {
      return this.search.length == 0
        ? this.parts
        : this.fuse.search(this.search);
    },
    isClerk() {
      // the current logged in user is a clerk
      return (
        get(this.$store.state, 'user.user.groups', []).filter(e =>
          e.name.includes('inventory.clerk')
        ).length > 0
      );
    },
    isPartAdministrator() {
      // the current logged in user is a clerk
      return (
        get(this.$store.state, 'user.user.groups', []).filter(e =>
          e.name.includes('inventory.warehouse_manager')
        ).length > 0
      );
    }
  },
  methods: {
    get,
    loadMovements(option) {
      if (option == null) {
        return false;
      }
      this.selectedPartForMovements = option;
      this.activeTab = 3;
      this.movementsLookup = option.part;
      axios.get('/api/inventory/part_movements/' + option.part).then(response => {
        this.partMovements = response.data.map(e => {
          return {
            ...e,
            in: parseFloat(e.in),
            out: parseFloat(e.out)
          };
        });
      });
    },
    loadInventory() {
      this.partsAreLoading = true;

      if(!this.company_id){return null}
      
      return axios
        .get('/api/inventory/check_inventory', {
          params:{
            company_id: this.company_id,
          }
        })
        .then(response => {
          let preparedParts = get(response, 'data', []).map(e => {
            return {
              ...e,
              qty: parseFloat(e.qty == null ? 0 : e.qty)
            };
          });

          let nestedParts = nest()
            .key(d => d.part)
            .rollup(d => {
              return {
                part: d[0].part,
                description: d[0].description,
                part_type: d[0].part_type,
                manufacturer: d[0].manufacturer,
                unit_of_measure_us: d[0].unit_of_measure_us,
                default_location: d[0].default_location,
                total_inventory: d.map(i => i.qty).reduce((p, c) => p + c),
                inventory_by_location: d.map(e => {
                  return {
                    location: e.location,
                    qty: e.qty
                  };
                })
              };
            })
            .object(preparedParts);

          this.parts = Object.keys(nestedParts).map(e => nestedParts[e]);
          this.fuse = new Fuse(this.parts, options);
        })
        .catch(e => {
          this.$buefy.toast.open({
            message: `${e.response.status}: Something went wrong. [${e.response.data.message}]:[${e.response.statusText}]`
          })
        })
        .finally(() => {
          this.partsAreLoading = false;
        });
    }
  },
  components: {
    Header,
    Footer,
    CompanyProvider,
    PartManager: () => import('./PartManager.vue'),
    AddInventory: () => import('./AddInventory/AddInventory.vue'),
    RemoveInventory: () => import('./RemoveInventory.vue'),
  },
  mounted(){
    if (this.company_id != null){
      this.loadInventory()
    }
  }
};
</script>
