<template>
  <div class="columns is-multiline">
    <div class="modal" :class="{'is-active':editingPart!=null}" v-if="editingPart != null">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Edit part: {{editingPart.part}}</p>
          <!-- <button class="delete" aria-label="close"></button> -->
        </header>
        <section class="modal-card-body">
          <div class="card-content">
            <div class="columns">
              <div class="column">
                <form>
                  <div class="field">
                    <div class="label">Part</div>
                    <div class="control">
                      <input type="text" class="input" v-model="editingPart.part" />
                    </div>
                    <!-- <p v-if="errors.name" class="help is-danger">{{errors.name}}</p> -->
                  </div>

                  <div class="field">
                    <label class="label">Description</label>
                    <div class="control">
                      <input class="input" type="text" v-model="editingPart.description" />
                    </div>
                    <!-- <p v-if="errors.description" class="help is-danger">{{errors.description}}</p> -->
                  </div>

                  <div class="field">
                    <label class="label">Unit Of Measure</label>
                    <div class="control">
                      <input class="input" type="text" v-model="editingPart.unit_of_measure" />
                    </div>
                    <!-- <p v-if="errors.description" class="help is-danger">{{errors.description}}</p> -->
                  </div>

                  <div class="field">
                    <label class="label">Manufacturer</label>
                    <b-select
                      v-if="!manualManufacturer"
                      placeholder="Select a manufacturer"
                      v-model="editingPart.manufacturer"
                    >
                      <option
                        v-for="option in manufacturers"
                        :value="option"
                        :key="option"
                      >{{ option }}</option>
                    </b-select>
                    <div class="control" v-if="manualManufacturer">
                      <input class="input" type="text" v-model="editingPart.manufacturer" />
                    </div>
                    <div class="control pt-3">
                      <b-switch v-model="manualManufacturer">Enter manufacturer manually</b-switch>
                    </div>
                  </div>

                  <div class="field">
                    <label for class="label">Part Type</label>
                    <b-select
                      v-if="!manualPartTypes"
                      placeholder="Select a name"
                      v-model="editingPart.part_type"
                    >
                      <option v-for="option in partTypes" :value="option" :key="option">{{ option }}</option>
                    </b-select>

                    <div class="control" v-if="manualPartTypes">
                      <input class="input" type="text" v-model="editingPart.part_type" />
                    </div>
                    <div class="control pt-3">
                      <b-switch v-model="manualPartTypes">Enter part type manually</b-switch>
                    </div>
                  </div>

                  <div class="field">
                    <label class="label">Part Management</label>
                    <div class="control">
                      <b-switch
                        v-model="editingPart.is_internal"
                      >{{ editingPart.is_internal?'Just manage inventory':'Part of HelmetTracker' }}</b-switch>
                    </div>
                    <!-- <p class="help"><code>true</code> means this part is not in HelmetTracker, <code>false</code> means Part of HelmetTracker</p> -->
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <div class="buttons is-multiline">
            <button
              v-if="editingPart.deleted_at == null"
              class="button is-success"
              @click.prevent="savePartInformation()"
            >Save changes</button>
            <button class="button" @click.prevent="editingPart = null">Cancel</button>
            <button
              v-if="editingPart.deleted_at == null"
              class="button is-text"
              @click.prevent="deletePartNumber()"
            >Delete</button>
            <button
              v-if="editingPart.deleted_at != null"
              class="button is-text"
              @click.prevent="putNumberBack()"
            >Put back</button>
          </div>
        </footer>
      </div>
    </div>
    <div class="modal" :class="{'is-active':creatingPart!=null}" v-if="creatingPart != null">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Create Part: {{creatingPart.part}}</p>
          <!-- <button class="delete" aria-label="close"></button> -->
        </header>
        <section class="modal-card-body">
          <div class="card-content">
            <div class="columns">
              <div class="column">
                <form>
                  <div class="field">
                    <div class="label">Part</div>
                    <div class="control">
                      <input type="text" class="input" v-model="creatingPart.part" />
                    </div>
                    <!-- <p v-if="errors.name" class="help is-danger">{{errors.name}}</p> -->
                  </div>

                  <div class="field">
                    <label class="label">Description</label>
                    <div class="control">
                      <input class="input" type="text" v-model="creatingPart.description" />
                    </div>
                    <!-- <p v-if="errors.description" class="help is-danger">{{errors.description}}</p> -->
                  </div>

                  <div class="field">
                    <label class="label">Unit Of Measure</label>
                    <div class="control">
                      <input class="input" type="text" v-model="creatingPart.unit_of_measure" />
                    </div>
                    <!-- <p v-if="errors.description" class="help is-danger">{{errors.description}}</p> -->
                  </div>
                  <!-- <b-field label="Manufacturer">
                    <b-select
                      placeholder="Select a manufacturer"
                      v-model="creatingPart.manufacturer"
                    >
                      <option
                        v-for="option in manufacturers"
                        :value="option"
                        :key="option"
                      >{{ option }}</option>
                    </b-select>
                  </b-field>-->
                  <b-field label="Part Type">
                    <b-select placeholder="Select a name" v-model="creatingPart.part_type">
                      <option v-for="option in partTypes" :value="option" :key="option">{{ option }}</option>
                    </b-select>
                  </b-field>

                  <!-- <div class="field">
                    <label class="label">Part Management</label>
                    <div class="control">
                      <b-switch
                        v-model="creatingPart.is_internal"
                      >{{ creatingPart.is_internal?'Just manage inventory':'Part of HelmetTracker' }}</b-switch>
                    </div>
                    <p class="help"><code>true</code> means this part is not in HelmetTracker, <code>false</code> means Part of HelmetTracker</p>
                  </div>-->
                </form>
              </div>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" @click.prevent="saveNewPart()">Save changes</button>
          <button class="button" @click.prevent="creatingPart = null">Cancel</button>
        </footer>
      </div>
    </div>
    <div class="column is-full">
      <section class="hero is-success">
        <div class="hero-body">
          <div class="container">
            <h1 class="title has-text-black">Part numbers manager</h1>
          </div>
        </div>
      </section>
    </div>
    <div class="column is-full">
      <b-field label="Part search">
        <b-input
          placeholder="Part number or description"
          v-model="partSearch"
          @keyup.native.esc="partSearch=''"
        ></b-input>
      </b-field>
      <b-table
        :data="partSearch=='' ? parts : searchedParts()"
        :striped="true"
        :paginated="true"
        :per-page="10"
        :narrowed="true"
        :hoverable="true"
        :loading="isLoading"
      >
        <template slot-scope="props">
          <b-table-column field="part" label="Part" numeric>{{ props.row.part }}</b-table-column>
          <b-table-column field="description" label="Description">
            <span class="mr-2" v-if="props.row.deleted_at != null">[deleted]</span>
            <span
              :class="{'text-gray-400':(props.row.deleted_at != null)}"
            >{{ props.row.description }}</span>
          </b-table-column>
          <b-table-column
            field="unit_of_measure"
            label="Unit of measure"
          >{{ props.row.unit_of_measure }}</b-table-column>
          <b-table-column field="part_type" label="PartType" centered>{{ props.row.part_type}}</b-table-column>
          <b-table-column label="Manufacturer">{{ props.row.manufacturer }}</b-table-column>
          <b-table-column label="Actions">
            <button class="button is-small" @click.prevent="showEditPartDialog(props.row)">update</button>
          </b-table-column>
        </template>

        <template slot="empty">
          <section class="section">
            <div class="content has-text-grey has-text-centered hero">
              <h1 class="title is-1">Nothing here.</h1>
            </div>
          </section>
        </template>

        <template slot="bottom-left">
          <b-field grouped>
            <!-- <p class="control">
                <a class="button is-info" href="/inventory/download-inventory">Download Inventory</a>
            </p>-->
            <div class="control">
              <button class="button" @click="initCreatingPart()">Create new part</button>
              <button class="button" @click="retriveCurrentPartList">Reload</button>
            </div>
          </b-field>
        </template>
      </b-table>
    </div>
    <!-- <div class="column is-full">
      <h2 class="title is-2">Add from Part Schutts' Part Master</h2>
      <form action="#" @submit.prevent="noop">
        <div class="field">
          <label for="fileControl">Select the file downloaded from HelmetTracker</label>
          <div class="control">
            <input
              :disabled="loadingPartMaster"
              id="fileControl"
              class="input"
              type="file"
              ref="files"
              @change="parseInputFile"
            >
          </div>
          <p class="help">
            Si no cuenta con el archivo, lo puede descargar en de la pagina de HelmetTracker
            <code>Inventory > Parts Inventory</code>, despues del formulario presionar
            <code>Search</code> seguido de
            <code>Download</code>
          </p>
        </div>
      </form>
    </div>-->
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      parts: [],
      partSearch: '',
      editingPart: null,
      isLoading: false,
      loadingPartMaster: false,
      originalPart: null,
      creatingPart: null,
      manufacturers: [],
      manualManufacturer: false,
      manualPartTypes: false,
      partTypes: ['raw material'],
    }
  },
  computed: {
    company_id() {
      return this.$store.state.user.user.company_id
    },
  },
  methods: {
    searchedParts() {
      return this.parts.filter(option => {
        return (
          option.part
            .toString()
            .toLowerCase()
            .indexOf(this.partSearch.toLowerCase()) >= 0
        );
      })
    },
    noop() { },
    initCreatingPart() {
      this.creatingPart = Object.assign({}, {
        part: '',
        part_in_catalog: '',
        description: '',
        unit_of_measure: '',
        part_type: 'raw material',
        manufacturer: 'unknown',
        is_internal: true,
      })
    },
    showEditPartDialog(part) {
      this.editingPart = Object.assign({}, part)
      this.originalPart = Object.assign({}, part)
    },
    saveNewPart() {
      axios.post('api/inventory/createNewPart', {
        newpart: this.creatingPart
      })
        .then(() => {
          this.$buefy.toast.open({
            message: 'Part updated correctly',
            type: 'is-success'
          })
          this.retriveCurrentPartList()
        })
        .catch(() => {
          this.$buefy.toast.open({
            message: 'Parts not updated, some error ocurred',
            type: 'is-danger'
          })
        }).finally(() => {
          this.isLoading = false
        })
    },
    savePartInformation() {
      this.isLoading = true
      axios.post('api/inventory/updatePart', {
        original: this.originalPart,
        edited: this.editingPart,
      })
        .then(() => {
          this.$buefy.toast.open({
            message: 'Part updated correctly',
            type: 'is-success'
          })
          this.retriveCurrentPartList()
        })
        .catch(() => {
          this.$buefy.toast.open({
            message: 'Parts not updated, some error ocurred',
            type: 'is-danger'
          })
        }).finally(() => {
          this.isLoading = false
          this.editingPart = null
        })
    },
    deletePartNumber() {
      this.isLoading = true
      axios.delete('api/inventory/part/' + this.originalPart.part)
        .then(() => {
          this.$buefy.toast.open({
            message: 'Part deleted',
            type: 'is-success'
          })
          this.retriveCurrentPartList()
        })
        .catch(() => {
          this.$buefy.toast.open({
            message: 'Parts not updated, some error ocurred',
            type: 'is-danger'
          })
        }).finally(() => {
          this.isLoading = false
          this.editingPart = null
        })
    },
    putNumberBack() {
      this.isLoading = true
      axios.put('api/inventory/part/' + this.originalPart.part)
        .then(() => {
          this.$buefy.toast.open({
            message: 'Part puted back correctly',
            type: 'is-success'
          })
          this.retriveCurrentPartList()
        })
        .catch(() => {
          this.$buefy.toast.open({
            message: 'Parts not updated, some error ocurred',
            type: 'is-danger'
          })
        }).finally(() => {
          this.isLoading = false
          this.editingPart = null
        })
    },
    retriveCurrentPartList() {
      this.isLoading = true
      axios.get('api/inventory/parts', {
        params:{
          company_id: this.company_id
        }
      })
        .then(r => {
          this.parts = r.data.map(e => {
            return {
              ...e,
              is_internal: !!e.is_internal
            }
          })
          this.manufacturers = r.data.map(e => e.manufacturer).filter((item, ind, arr) => arr.indexOf(item) == ind)
          this.partTypes = r.data.map(e => e.part_type).filter((item, ind, arr) => arr.indexOf(item) == ind)
        })
        .catch((e) => {
          console.log(e)
          this.$buefy.toast.open({
            message: 'Could not load part numbers',
            type: 'is-danger'
          })
        }).finally(() => {
          this.isLoading = false
        })
    },
  },
  mounted() {
    this.retriveCurrentPartList()
  },
}
</script>
