<template>
  <div class="columns">
    <div class="column">
      <h1 class="text-4xl text-gray-600 pb-4">Sacar del inventario</h1>
      <hr />
      <div class="columns">
        <div class="column sm:w-1/2 md:w-1/3">
          <form action="#/" class="form">
            <div class="border-b-2 border-gray-800 p-2">
              <p class="text-xl pb-4 font-semibold">Informacion del movimiento</p>
              <b-field label="Tipo de movimiento  ">
                <b-select v-model="movementType" placeholder="Selecciona un tipo de movimiento">
                  <option
                    v-for="option in movementOptions"
                    :value="option.type"
                    :key="option.type"
                  >{{ option.name }}</option>
                </b-select>
              </b-field>
              <b-field
                label="Orden de trabajo (work order)"
                message="Orden de trabajo o cute-ticket que pueda servir de referencia para la entrega del material"
              >
                <b-input v-model="cuteTicket"></b-input>
              </b-field>
              <b-field
                label="Comentario"
                message="Ingresa la razon por la que se esta haciendo una captura de inventario manual"
              >
                <b-input v-model="reason" placeholder="Material de proveedor mexicano"></b-input>
              </b-field>
            </div>
            <div class="p-2">
              <p class="text-xl pb-4 font-semibold">Numeros de parte</p>
              <b-field label="Part number">
                <b-autocomplete
                  v-model="outPart"
                  :data="filteredOutDataArray"
                  placeholder="Part number"
                  :keep-first="true"
                  field="part"
                  @select="option => selected = option"
                >
                  <template slot="empty">No results found</template>
                </b-autocomplete>
              </b-field>
              <b-field label="Description" expanded v-if="selected">
                <b-input expanded disabled v-model="selected.description"></b-input>
              </b-field>
              <b-field label="Quantity">
                <b-input v-model="qty" @keyup.native.enter="mathOrRemove"></b-input>
              </b-field>
              <b-field label="Location">
                <div class="block">
                  <b-radio
                    :key="inv.location"
                    v-model="location"
                    v-for="inv in get(selected,'inventory_by_location',[]).filter(e=>e.qty > 0)"
                    :native-value="inv.location"
                  >{{inv.location + ', ' + inv.qty}}</b-radio>
                </div>
              </b-field>
              <b-field>
                <b-button @click="mathOrRemove">Agregar</b-button>
              </b-field>
            </div>
          </form>
        </div>
        <div class="column">
          <b-table :data="transactions" :narrowed="true" :loading="commitingTransaction">
            <template slot="empty">
              <section class="section">
                <div class="content text-gray-700 text-2xl has-text-centered">
                  <p>Actualmente no hay nada para agregar al inventario</p>
                  <p>
                    Llena los campos de arriba y presiona
                    <b>ENTER</b> para crear la lista de intentario que podras ingresar
                  </p>
                </div>
              </section>
            </template>
            <template slot-scope="props">
              <b-table-column field="part" label="Part">{{ props.row.part }}</b-table-column>
              <b-table-column field="in" label="Quantity">{{ props.row.out }}</b-table-column>
              <b-table-column field="location" label="Location">{{ props.row.location }}</b-table-column>
              <b-table-column label="Actions">
                <!-- <button class="button is-small is-light" @click.prevent="onEdit(props.row)">
                            <b-icon icon="edit" size="is-small"></b-icon>
                </button>-->
                <button
                  class="button is-small is-danger"
                  @click.prevent="deleteRowFromOutInventoryTable(props)"
                >delete</button>
              </b-table-column>
            </template>
          </b-table>
          <b-field>
            <p class="control">
              <button
                class="button is-primary"
                :disabled="commitingTransaction"
                @click="commitTransactinsToDatabase('transactions')"
              >Save</button>
            </p>
          </b-field>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import get from 'lodash/get';
import { addBits } from '@/libs/addBits'
import axios from 'axios'

export default {
  data() {
    return {
      outPart: '',
      selected: null,
      qty: 0,
      reason: '',
      cuteTicket: '',
      location: '',
      transactions: [],
      commitingTransaction: false,
      movementType: '',
      movementOptions: [
        { type: 'OUT', name: 'Entrega a produccion' },
        { type: 'ENGINEERING_SAMPLES', name: 'Muestras para ingeniería' },
        { type: 'MOVE', name: 'Cambio de locacion' },
        { type: 'INVENTORY_ADJUSTMENT', name: 'Ajuste de inventario' },
        { type: 'MOVEMENT_ADJUSTMENT', name: 'Ajuste por error de captura' },
        { type: 'AMERICAN_GOOD_RETURN', name: 'AGR - Retorno de materia prima' },
      ],
    }
  },
  props: {
    parts: {
      type: Array,
      default: () => ([])
    }
  },
  methods: {
    get,
    commitTransactinsToDatabase(typeOfTransaction) {
      this.commitingTransaction = true;
      return axios
        .post('api/inventory/record_inventory_change', {
          parts: this[typeOfTransaction],
          transaction: {
            company_id: this.company_id,
            movement_type: this.movementType,
            reason:this.reason,
            cute_ticket: this.cuteTicket,
          }
        })
        .then(() => {
          this[typeOfTransaction] = [];
          this.$emit('transaction-commited')
          this.$emit('change-transaction-content', this.transactions);
        })
        .finally(() => {
          this.commitingTransaction = false;
        });
    },
    deleteRowFromOutInventoryTable(payload) {
      this.transactions.splice(payload.index, 1);
      this.$emit('change-transaction-content', this.transactions);
    },
    addToOutInventoryTransaction() {
      if (this.location.length == 0) {
        return this.$buefy.toast.open({
          message: 'Location cannot be empty',
          type: 'is-danger'
        })
      }
      this.transactions.unshift({
        part: this.selected.part,
        out: this.qty,
        location: this.location.toUpperCase()
      });
      this.location = ''
    },
    mathOrRemove() {
      if (/(\+|-|\*|\/)/.test(this.qty)) {
        this.qty = addBits(this.qty);
      } else {
        this.addToOutInventoryTransaction();
      }
    },
  },
  watch: {},
  computed: {
    company_id() {
      return this.$store.state.user.user.company_id
    },
    filteredOutDataArray() {
      return this.parts.filter(option => {
        return (
          option.part
            .toString()
            .toLowerCase()
            .indexOf(this.outPart.toLowerCase()) >= 0
        );
      });
    },
  }
}
</script>